<div class="box box-primary">
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active"><a routerLink="group-list" data-toggle="tab">Tag Groups</a></li>
			<li routerLinkActive="active"><a routerLink="-1" data-toggle="tab" *ngIf="mainService.doWeHaveGroupless">Groupless Tags</a></li>
			<li routerLinkActive="active" *ngFor="let group of mainService.groupList"><a routerLink="{{group.id}}" data-toggle="tab">{{group.name}}</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
