<div class="container-fluid my-auto" *ngIf="state$ | async as state">
	<div class="row mt-1" *ngFor="let group of state.groups">
		<div class="col-6 col-md-2 col-lg-1">{{ group.name }}</div>
		<div class="col-6 col-md-10 col-lg-11">
			<ng-container *ngFor="let tag of state.items">
				<span class="checkbox ml-3" *ngIf="tag.taggroup == group.id">
					<label *ngIf="tags">
						<input type="checkbox" name="tagName{{tag.id}}" [(ngModel)]="tags[tag.id]"> {{ tag.name }}
					</label>
				</span>
			</ng-container>
		</div>
	</div>
</div>
