<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Process</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#processtabmaindefinitions" data-toggle="tab">Main Definitions</a></li>
			<li><a href="#processtabrun" data-toggle="tab">Run Process</a></li>
			<li><a href="#processtabsteps" data-toggle="tab">Steps</a></li>
			<li><a href="#processtabdefaulttargets" data-toggle="tab">Default Targets</a></li>
			<li><a href="#processtabfilters" data-toggle="tab">Filters</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="processtabmaindefinitions">
				Main definitions works
			</div>
			<div class="tab-pane fade in" id="processtabrun">
				Run works
			</div>
			<div class="tab-pane fade in" id="processtabsteps">
				Steps works
			</div>
			<div class="tab-pane fade in" id="processtabdefaulttargets">
				Default targets works
			</div>
			<div class="tab-pane fade in" id="processtabfilters">
				Filters works
			</div>
		</div>
	</div>
</div>
