<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Process</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#processtabmaindefinitions" data-toggle="tab"><i class="fa fa-sliders fa-fw"></i> Main Definitions</a></li>
			<li><a href="#processtabrun" data-toggle="tab"><i class="fa fa-space-shuttle fa-fw"></i> Run Process</a></li>
			<li><a href="#processtabsteps" data-toggle="tab"><i class="fa fa-steam fa-fw"></i> Steps</a></li>
			<li><a href="#processtabdefaulttargets" data-toggle="tab"><i class="fa fa-bullseye fa-fw"></i> Default Targets</a></li>
			<li><a href="#processtabfilters" data-toggle="tab"><i class="fa fa-filter fa-fw"></i> Filters</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="processtabmaindefinitions">
				<app-dimeprocess-detail-tab-maindefinitions></app-dimeprocess-detail-tab-maindefinitions>
			</div>
			<div class="tab-pane fade in" id="processtabrun">
				<app-dimeprocess-detail-tab-run *ngIf="mainService.curItemIsPrepared"></app-dimeprocess-detail-tab-run>
				<div class="well well-warning well-sm" *ngIf="!mainService.curItemIsPrepared">
					This map definition is not ready for processing. <br>
					<b>Issue List:</b>
					<ol>
						<li *ngFor="let issue of mainService.curItemIssueList">{{issue}}</li>
					</ol>
				</div>
			</div>
			<div class="tab-pane fade in" id="processtabsteps">
				<app-dimeprocess-detail-tab-steps></app-dimeprocess-detail-tab-steps>
			</div>
			<div class="tab-pane fade in" id="processtabdefaulttargets">
				<app-dimeprocess-detail-tab-defaulttargets></app-dimeprocess-detail-tab-defaulttargets>
			</div>
			<div class="tab-pane fade in" id="processtabfilters">
				<app-dimeprocess-detail-tab-filters></app-dimeprocess-detail-tab-filters>
			</div>
		</div>
	</div>
</div>
