<h3 style="padding:0;margin:0;margin-bottom:10px;">
	{{stepNames[currentStep.type]}}
</h3>
<hr>
<form (ngSubmit)="mainService.stepUpdate(currentStep)" *ngIf="currentStep" style="margin-bottom:26px">
	<div class="form-group">
		<label for="stepType" class="control-label">Type:</label>
		<select name="stepType" id="stepType" class="form-control" [(ngModel)]="currentStep.type">
			<option *ngFor="let type of stepTypesArray" value="{{type}}">{{stepNames[type]}}</option>
		</select>
	</div>
	<app-dimeprocess-step-detail-srcprocedure *ngIf="currentStep?.type === stepTypes.SourceProcedure" [currentStep]="currentStep"></app-dimeprocess-step-detail-srcprocedure>
	<app-dimeprocess-step-detail-pulldata *ngIf="currentStep?.type === stepTypes.PullData" [currentStep]="currentStep"></app-dimeprocess-step-detail-pulldata>
	<app-dimeprocess-step-detail-mapdata *ngIf="currentStep?.type === stepTypes.MapData" [currentStep]="currentStep"></app-dimeprocess-step-detail-mapdata>
	<app-dimeprocess-step-detail-transform *ngIf="currentStep?.type === stepTypes.TransformData" [currentStep]="currentStep"></app-dimeprocess-step-detail-transform>
	<app-dimeprocess-step-detail-validate *ngIf="currentStep?.type === stepTypes.ValidateData" [currentStep]="currentStep"></app-dimeprocess-step-detail-validate>
	<app-dimeprocess-step-detail-pushdata *ngIf="currentStep?.type === stepTypes.PushData" [currentStep]="currentStep"></app-dimeprocess-step-detail-pushdata>
	<app-dimeprocess-step-detail-tarprocedure *ngIf="currentStep?.type === stepTypes.TargetProcedure" [currentStep]="currentStep"></app-dimeprocess-step-detail-tarprocedure>
	<app-dimeprocess-step-detail-senddata *ngIf="currentStep?.type === stepTypes.SendData" [currentStep]="currentStep"></app-dimeprocess-step-detail-senddata>
	<app-dimeprocess-step-detail-sendmissing *ngIf="currentStep?.type === stepTypes.SendMissingMaps" [currentStep]="currentStep"></app-dimeprocess-step-detail-sendmissing>
	<app-dimeprocess-step-detail-sendlogs *ngIf="currentStep?.type === stepTypes.SendLogs" [currentStep]="currentStep"></app-dimeprocess-step-detail-sendlogs>
	<div class="form-group">
		<button class="btn btn-primary btn-xs pull-right" type="submit">
			<i class="fa fa-floppy-o fa-fw"></i> Save Changes
		</button>
	</div>
</form>
<!-- <div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Process Step</h3>
	</div>
	<div class="box-body">
		<form (ngSubmit)="mainService.stepUpdate()" #f="ngForm" class="form-horizontal" *ngIf="mainService.curStep">
				<div class="form-group" *ngIf="mainService.curStep.type == 'tarprocedure'">
					<label for="steptarprocedure" class=" control-label">Definition:</label>
					<div >
						<span *ngIf="mainService.curItemTargetProcedures.length == 0"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Please wait, retrieving items...</span>
						<form *ngIf="mainService.curItemTargetProcedures.length > 0" class="form-horizontal">
							<span *ngFor="let curProcedure of mainService.curItemTargetProcedures;let i = index">
								<label>
									<input
										type="radio"
										name="steptarprocedure{{i}}selection"
										[checked]="mainService.curItemSelectedProcedure.name == curProcedure.name"
										[value]="curProcedure"
										(change)="mainService.stepProcedureSelected(curProcedure)">
										{{curProcedure.name}}
								</label><br>
								<span *ngIf="curProcedure.name == mainService.curItemSelectedProcedure.name">
									<button class="btn btn-xs btn-primary" (click)='mainService.stepPBCSProcedureVariableAdd()' *ngIf="mainService.curStepIsPBCS">Add Variable</button>
									<hr *ngIf="mainService.curStepIsPBCS">
									<span *ngFor="let curVariable of mainService.curItemSelectedProcedure.variables; let index = index;">
										<div class="input-group">
											<span class="input-group-addon" style="width:200px;text-align:left" *ngIf="!mainService.curStepIsPBCS">{{curVariable.description}}</span>
											<input type="text" name="variablename{{index}}" class="form-control" [(ngModel)]="curVariable.name" placeholder="Variable Name" *ngIf="mainService.curStepIsPBCS">
											<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;" *ngIf="mainService.curStepIsPBCS"></span>
											<input type="text" name="variabledimension{{index}}" class="form-control" [(ngModel)]="curVariable.dimension" placeholder="Variable Dimension" *ngIf="mainService.curStepIsPBCS">
											<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;" *ngIf="mainService.curStepIsPBCS"></span>
											<select name="valuetype{{index}}" class="form-control" [(ngModel)]="curVariable.valuetype">
												<option value="filteredvalues">Filtered Distinct Values of</option>
												<option value="allvalues">All Distinct Values of</option>
												<option value="manualvalue">Assign Value:</option>
											</select>
											<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
											<select name="variable{{index}}field" class="form-control" [(ngModel)]="curVariable.value" *ngIf="curVariable.valuetype!='manualvalue'" style="width:150px">
												<option *ngFor="let field of mainService.curItemTargetFields" [value]="field.name">{{field.name}}</option>
											</select>
											<input type="text" class="form-control" [(ngModel)]="curVariable.value" name="variable{{index}}field" *ngIf="curVariable.valuetype=='manualvalue'" style="width:150px">
										</div>
									</span>
								</span>
							</span>
						</form>
					</div>
				</div>
				<div class="form-group" *ngIf="mainService.curStep.type == 'sendlogs'">
					<label for="stepsendlogs" class=" control-label">Recepients:</label>
					<div >
						<form class="form-horizontal">
							<button class="btn btn-xs btn-default" (click)="mainService.stepRecepientAdd(mainService.curItemLogRecepients)">Add Recepient</button>
							<hr>
							<span *ngFor="let curRecepient of mainService.curItemLogRecepients; let i = index;">
								<div class="input-group">
									<span class="input-group-addon">{{i+1}}</span>
									<input type="text" class="form-control" [(ngModel)]="curRecepient.address" name="stepsendlogsrecepient{{i}}">
									<span class="input-group-addon" style="padding:0 2px">
										<button type="button" class="btn btn-xs btn-danger" (click)="mainService.stepRecepientDelete(mainService.curItemLogRecepients, i)">
											<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</span>
						</form>
					</div>
				</div>
				<div class="form-group" *ngIf="mainService.curStep.type == 'senddata'">
					<label for="stepsenddata" class=" control-label">Recepients:</label>
					<div >
						<form class="form-horizontal">
							<button class="btn btn-xs btn-default" (click)="mainService.stepRecepientAdd(mainService.curItemDataRecepients)">Add Recepient</button>
							<hr>
							<span *ngFor="let curRecepient of mainService.curItemDataRecepients; let i = index;">
								<div class="input-group">
									<span class="input-group-addon">{{i+1}}</span>
									<input type="text" class="form-control" [(ngModel)]="curRecepient.address" name="stepsenddatarecepient{{i}}">
									<span class="input-group-addon" style="padding:0 2px">
										<button type="button" class="btn btn-xs btn-danger" (click)="mainService.stepRecepientDelete(mainService.curItemDataRecepients, i)">
											<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</span>
						</form>
					</div>
				</div>
				<div class="form-group" *ngIf="mainService.curStep.type == 'sendmissing'">
					<label for="stepsendmissing" class=" control-label">Recepients:</label>
					<div >
						<form class="form-horizontal">
							<button class="btn btn-xs btn-default" (click)="mainService.stepRecepientAdd(mainService.curItemMissingMapRecepients)">Add Recepient</button>
							<hr>
							<span *ngFor="let curRecepient of mainService.curItemMissingMapRecepients; let i = index;">
								<div class="input-group">
									<span class="input-group-addon">{{i+1}}</span>
									<input type="text" class="form-control" [(ngModel)]="curRecepient.address" name="stepsendmissingrecepient{{i}}">
									<span class="input-group-addon" style="padding:0 2px">
										<button type="button" class="btn btn-xs btn-danger" (click)="mainService.stepRecepientDelete(mainService.curItemMissingMapRecepients, i)">
											<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</span>
						</form>
					</div>
				</div>
		</form>
	</div>
</div>
-->


<!-- <div class="row">
	<div class="col-xs-3">
		Current Step:
		<pre>{{currentStep | json}}</pre>
	</div>
	<div class="col-xs-3">
		StepNames:
		<pre>{{stepNames | json}}</pre>
	</div>
	<div class="col-xs-3">
		StepTypes:
		<pre>{{stepTypes | json}}</pre>
	</div>
	<div class="col-xs-3">
		StepTypesArray
		<pre>{{stepTypesArray | json}}</pre>
	</div>
</div> -->
