<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-6 col-sm-4 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Schedules</div>
				<div class="panel-body center-text"><a routerLink="schedules" class="default-color"><i class="fa fa-calendar fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Environments</div>
				<div class="panel-body center-text"><a routerLink="environments" class="default-color"><i class="fa fa-building fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text" style="font-weight: bold">Processes</div>
				<div class="panel-body center-text"><a routerLink="processes" class="default-color"><i class="fa fa-cogs fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading center-text" style="font-weight: bold">Streams</div>
				<div class="panel-body center-text"><a routerLink="streams" class="default-color"><i class="fa fa-arrows fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text" style="font-weight: bold">Maps</div>
				<div class="panel-body center-text"><a routerLink="maps" class="default-color"><i class="fa fa-globe fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading center-text" style="font-weight: bold">Matrices</div>
				<div class="panel-body center-text"><a routerLink="matrices" class="default-color"><i class="fa fa-th fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
	</div>
</div> -->
<div style="width: 100%; height: calc(100vh - 34px); overflow: hidden; padding:0;">
	<video autoplay style="width: 100%">
		<source src="/assets/videos/dashboard.webm">
	</video>
</div>
