<form (ngSubmit)="mainService.update()" #f="ngForm">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card mt-3">
					<div class="card-header bg-accent border-accent d-flex">
						Environment Details: {{ mainService.currentItem.name }}
						<div class="btn-toolbar ml-auto">
							<div class="btn-group btn-group-xs">
								<button type="submit" class="btn btn-outline-dark" title="Save Changes"><i class="fa fa-floppy-o fa-fw"></i></button>
								<button type="button" class="btn btn-outline-dark" title="Verify Environment" (click)="mainService.verify(mainService.currentItem.id)"><i class="fa fa-check fa-fw"></i></button>
							</div>
							<div class="btn-group btn-group-xs ml-4">
								<button type="button" class="btn btn-outline-danger" title="Delete Item" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name)"><i class="fa fa-trash fa-fw"></i></button>
							</div>
						</div>
					</div>
					<div class="card-body border-accent">
						<div class="form-group">
							<label for="environmentName" class="control-label">Name:</label>
							<input type="text" class="form-control" id="environmentName" name="environmentName" [(ngModel)]="mainService.currentItem.name" required>
						</div>
						<div class="form-group">
							<label for="environmentType" class="control-label">Type:</label>
							<select name="environmentType" id="environmentType" class="form-control" [(ngModel)]="mainService.currentItem.type" required>
								<option *ngFor="let envType of mainService.typeList" [value]="envType.value">{{mainService.getEnvironmentTypeDescription(envType.value)}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="environmentServer" class="control-label">Server:</label>
							<input type="text" class="form-control" id="environmentServer" name="environmentServer" [(ngModel)]="mainService.currentItem.server" required>
						</div>
						<div class="form-group">
							<label for="environmentPort" class="control-label">Port:</label>
							<input type="text" class="form-control" id="environmentPort" name="environmentPort" [(ngModel)]="mainService.currentItem.port" required>
						</div>
						<div class="form-group">
							<label for="environmentCredentials" class="control-label">Credentials:</label>
							<div class="input-group">
								<select name="environmentCredentials" id="environmentCredentials" class="form-control" [(ngModel)]="mainService.currentItem.credential">
									<option *ngFor="let credential of credentialService.itemList" [value]="credential.id" class="p-0">{{credential.name}}</option>
								</select>
								<div class="input-group-append">
									<span class="input-group-text border-0 bg-transparent">
										<a routerLink="../../credentials/{{mainService.currentItem.credential}}" title="Go to Credential Details">
											<i class="fa fa-chevron-right text-warning"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group" *ngIf="mainService.isPBCS()">
							<label for="environmentIdentityDomain" class="control-label">Identity Domain:</label>
							<input type="text" name="environmentIdentityDomain" id="environmentIdentityDomain" class="form-control" [(ngModel)]="mainService.currentItem.identitydomain" required>
						</div>
						<div class="form-group">
							<label for="environmentVerified" class="control-label">Verified?</label><br>
							<input type="checkbox" name="environmentVerified" [(ngModel)]="mainService.currentItem.verified">
							<!-- <i class="fa fa-fw fa-check-square-o" *ngIf="mainService.currentItem.verified"></i>
							<i class="fa fa-fw fa-square-o" *ngIf="!mainService.currentItem.verified"></i> -->
						</div>
						<div class="form-group">
							<label class="control-label">Tags:</label>
							<app-tag-selector [tags]="mainService.currentItem?.tags"></app-tag-selector>
							<!-- <div class="col-{{decideColWidth(tagService.groupList.length)}}" *ngFor="let tagGroup of tagService.groupList">
								{{tagGroup.name}}
								<hr />
								<ng-container *ngFor="let tagItem of tagService.itemList">
									<div class="checkbox" *ngIf="tagItem.taggroup == tagGroup.id">
										<label>
											<input type="checkbox" name="tagName{{tagItem.id}}" [(ngModel)]="mainService.currentItem?.tags[tagItem.id]"> {{tagItem.name}}
										</label>
									</div>
								</ng-container>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
