<div class="container-fluid" *ngIf="state$ | async as state; else loading">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Username</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Surname</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">E-Mail Address</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Role</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw text-success pointer" (click)="srvc.create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="srvc.create()" title="New Item">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Item
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let id of state.ids">
							<ng-container *ngIf="state.items[id] as item">
								<tr *ngIf="shouldListItem(item)">
									<td class="text-nowrap d-flex justify-content-between px-0 py-1">
										<a [routerLink]="id" title="Main Definitions"><i class="fa fa-edit fa-fw"></i></a>
										<i class="fa fa-trash fa-fw ml-3 pointer text-danger" title="Delete" (click)="srvc.delete(item)"></i>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id">
											<i class="fa fa-chevron-right text-warning"></i>
											{{item.username}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id">
											{{item.name}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id">
											{{item.surname}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id">
											{{item.email}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id" *ngFor="let t of roles">
											<ng-container *ngIf="t.value == item.role">{{ t.label }}</ng-container>
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="id" *ngFor="let t of types">
											<ng-container *ngIf="t.value == item.type">{{ t.label }}</ng-container>
										</a>
									</td>
								</tr>
							</ng-container>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fa fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
