<ul class="nav nav-tabs">
	<li routerLinkActive="active">
		<a routerLink="list" data-toggle="tab">
			<i class="fa fa-list fa-fw"></i> List
		</a>
	</li>
	<li routerLinkActive="active" *ngFor="let step of mainService.currentItem.steps;">
		<a routerLink="{{step.id}}">
			{{ processStepTypeName[step.type] }}
		</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active">
		<router-outlet></router-outlet>
	</div>
</div>



<!--
<hr>
<div class="well well-warning well-sm" *ngIf="!mainService.curItemIsPrepared">
	This map definition is not ready for processing. <br>
	<b>Issue List:</b>
	<ol>
		<li *ngFor="let issue of mainService.curItemIssueList">{{issue}}</li>
	</ol>
</div>
 -->
