<table class="table table-hover table-sm table-borderless m-0">
	<thead>
		<tr>
			<th width="100px">&nbsp;</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Name:</th>
			<td>
				{{ streamService.itemObject[mainService.currentItem.stream]?.name }}
			</td>
		</tr>
		<tr>
			<th>Fields:</th>
			<td>
				<table class="table table-sm table-borderless m-0">
					<thead>
						<tr>
							<th width="100px">Name</th>
							<th>
								Assigned?
								<small class="text-muted">Data fields are excluded</small>
							</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let field of streamService.itemObject[mainService.currentItem.stream]?.fieldList; let i = index;">
							<td> {{ field.name }} </td>
							<td>
								<input type="checkbox" [(ngModel)]="mainService.currentItem.fields[field.id]">
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="text-right">
								<button class="btn btn-outline-success btn-xs" type="button" (click)="mainService.update()">
									<i class="fa fa-check-circle"></i> Apply</button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
