[Unit]
Description=EPM ToolBox
Documentation=n/a
After=network.target

[Service]
Environment=NODE_PORT=7000
Type=simple
User=<write the username here>
SyslogIdentifier=epmtoolbox
WorkingDirectory=/write/the/path/of/the/files/here
ExecStart=/usr/bin/npm run watch
Restart=on-failure

[Install]
WantedBy=multi-user.target