<div class="container-fluid">
	<div class="row">
		<div class="col-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Users</div>
				<div class="panel-body center-text"><a routerLink="users" class="default-color"><i class="fa fa-user fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Groups</div>
				<div class="panel-body center-text"><a routerLink="groups" class="default-color"><i class="fa fa-users fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Authentication Servers</div>
				<div class="panel-body center-text"><a routerLink="servers" class="default-color"><i class="fa fa-sitemap fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
	</div>
</div>
