<div class="btn-toolbar" role="toolbar" aria-label="Maps Menu">
	<div class="btn-group btn-group-xs" role="group">
		<button type="button" class="btn btn-default btn-xs" title="Map List" routerLink="map-list"><i class="fa fa-map-signs fa-fw"></i> Maps</button>
	</div>
	<div class="btn-group btn-group-xs" role="group">
		<button type="button" class="btn btn-default btn-xs" title="Map List" routerLink="map-list"><i class="fa fa-list fa-fw"></i> List</button>
		<div class="btn-group btn-group-xs" role="group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-exchange fa-fw"></i> Go To
				<span class="caret"></span>
    		</button>
			<ul class="dropdown-menu">
				<li *ngFor="let map of maps|async"><a [routerLink]="['/dime/maps/map-detail', map.id]">Go to {{map.name}}</a></li>
				<li *ngIf="!maps"><a style="cursor: pointer;" (click)="create()">No maps are defined. Click here to create the first one.</a></li>
			</ul>
		</div>
		<button type="button" class="btn btn-default btn-xs" title="New Map" (click)="create()"><i class="fa fa-plus fa-fw"></i> New</button>
	</div>
	<div class="btn-group btn-group-xs pull-right" role="group">
		<button type="button" class="btn btn-default" title="Help"><i class="fa fa-question fa-fw"></i> Help</button>
	</div>
</div>
