<ng-container *ngIf="mainService.currentItem.isready === atReadyStatus.Ready">
	<div class="btn-toolbar" role="toolbar" style="margin-bottom: 2px;">
		<div class="btn-group btn-group-xs" role="group">
			<button class="btn btn-default" type="button">{{numberofRowsinMap}}</button>
		</div>
		<div class="btn-group btn-group-xs pull-right" role="group">
			<button class="btn btn-default" type="button" title="Show/Hide Sorters" (click)="sortersShown= !sortersShown">
				<i class="fa fa-sort fa-fw"></i> Sort Orders
			</button>
			<button class="btn btn-default" type="button" title="Refresh Map" (click)="refreshMapTable()">
				<i class="fa fa-refresh fa-fw"></i> Refresh
			</button>
			<!--<button class="btn btn-default" type="button" title="Zen Mode" (click)="refreshMapTable()"><i class="fa fa-expand fa-fw"></i> Zen Mode</button>-->
		</div>
	</div>
	<hot-table [height]="hotTableHeight" fixedColumnsLeft="1" startRows="0" [settings]="mapSettings" [maxRows]="mapData.length" [rowHeaders]="false" [colHeaders]="true" [columns]="mapColumns" [data]="mapData"
		(window:resize)="windowResized()" hotId="hotInstance"></hot-table>
	<div class="overlay" *ngIf="sortersShown">
		<form class="form-horizontal" (ngSubmit)="refreshMapTable()">
			<div class="box box-primary box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-sort"></i> Map Table Sort Orders
					</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-6">
							<b>Available Sorter Fields</b>
							<hr>
							<ng-container *ngFor="let field of availableSorters; let i = index">
								<div class="btn-group btn-group-xs" style="margin:4px 0;">
									<button type="button" class="btn btn-default" (click)="addToActiveSorters(i)" style="width:200px;">Add {{field.label}}</button>
								</div>
								<br>
							</ng-container>
						</div>
						<div class="col-6">
							<b>Active Sorter Fields</b>
							<hr>
							<ng-container *ngFor="let field of activeSorters; let i = index; let first = first; let last = last;">
								<div class="btn-group btn-group-xs" style="margin:4px 0;">
									<button type="button" class="btn btn-default" style="width:200px;">{{field.label}}</button>
									<button type="button" class="btn btn-default" (click)="field.isAsc = !field.isAsc" *ngIf="field.isAsc">
										<i class="fa fa-sort-amount-asc fa-fw"></i>
									</button>
									<button type="button" class="btn btn-default" (click)="field.isAsc = !field.isAsc" *ngIf="!field.isAsc">
										<i class="fa fa-sort-amount-desc fa-fw"></i>
									</button>
									<button type="button" class="btn btn-default" *ngIf="!first" (click)="swapActiveSorters(i, i-1)">
										<i class="fa fa-caret-up fa-fw"></i>
									</button>
									<button type="button" class="btn btn-default" *ngIf="first||last">
										<i class="fa fa-fw"></i>
									</button>
									<button type="button" class="btn btn-default" *ngIf="!last" (click)="swapActiveSorters(i, i+1)">
										<i class="fa fa-caret-down fa-fw"></i>
									</button>
									<button type="button" class="btn btn-default" (click)="removeFromActiveSorters(i)">
										<i class="fa fa-times fa-fw"></i>
									</button>
								</div>
								<br>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-success btn-xs" type="submit">
						<i class="fa fa-save fa-fw"></i> Apply
					</button>
					<button class="btn btn-danger btn-xs" type="button">
						<i class="fa fa-eraser fa-fw"></i> Clear Sort Orders
					</button>
					<button class="btn btn-info btn-xs" type="button" (click)="sortersShown=false;">
						<i class="fa fa-times fa-fw"></i> Cancel
					</button>
				</div>
			</div>
		</form>
	</div>
</ng-container>
<span class="help-block" *ngIf="mainService.currentItem.isready === atReadyStatus.Checking">
	<div class="well well-warning well-sm">
		Please wait, system is checking if the map is ready...
	</div>
</span>
<span class="help-block" *ngIf="mainService.currentItem.isready === atReadyStatus.NotReady">
	<div class="well well-danger well-sm">
		This map definition is not ready for mapping.
	</div>
</span>
