<div class="container">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Schedules</div>
				<div class="panel-body center-text"><a routerLink="schedules" class="default-color"><i class="fa fa-calendar fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-xs-2 col-xs-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text default-color" style="font-weight: bold">Environments</div>
				<div class="panel-body center-text"><a routerLink="environments" class="default-color"><i class="fa fa-building fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
		<div class="col-xs-2 col-xs-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading center-text" style="font-weight: bold">Processes</div>
				<div class="panel-body center-text"><a routerLink="processes" class="default-color"><i class="fa fa-cogs fa-fw" style="font-size:48px"></i></a></div>
			</div>
		</div>
	</div>
</div>
