<header class="main-header">
	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a routerLink="/" class="navbar-brand">EPM Toolbox</a>
			</div>
			<div id="topmenu" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
						<a routerLink="." title="End User Screen">
							<i class="fa fa-home fa-fw"></i>
							<br>Home
						</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="dime" title="Data &amp; Night Run">
							<i class="fa fa-cogs fa-fw"></i>
							<br>Data &amp; Night Run
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a routerLink="/welcome/signout" title="Sign Out">
							<i class="fa fa-sign-out"></i>
							<br>Sign Out
						</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>
</header>
