<form action="form-horizontal">
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th width="230">Setting</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Host</td>
					<td>
						<!-- <input type="text" class="form-control" id="processName" name="processName" [(ngModel)]="mainService.currentItem.name"> -->
					</td>
				</tr>
				<tr>
					<td>Port</td>
					<td>
						<!-- <input type="number" class="form-control" id="processName" name="processName" [(ngModel)]="mainService.currentItem.name"> -->
					</td>
				</tr>
				<tr>
					<td>System Administrator Address</td>
					<td>
						<!-- <input type="email" class="form-control" id="sysadminemail" name="sysadminemail" [(ngModel)]="mainService.currentItem.erroremail" /> -->
					</td>
				</tr>
				<tr>
					<td colspan="100">
						<button class="btn btn-primary btn-xs" type="submit">
							<i class="fa fa-floppy-o fa-fw"></i> Save Changes
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
