<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container-fluid navbar-border">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars fa-inverse"></i>
			</button>
			<a routerLink="/" class="navbar-brand">EPM Toolbox</a>
			<a routerLink="/dime" class="navbar-brand">Dime</a>
		</div>
		<div id="topmenu" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="." title="Dime Dashboard"><i class="fa fa-home fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="environments" title="Environments"><i class="fa fa-building fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="streams" title="Streams"><i class="fa fa-arrows fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="maps" title="Maps"><i class="fa fa-map-signs fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="schedules" title="Schedules"><i class="fa fa-calendar fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="processes" title="Processes"><i class="fa fa-cogs fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="settings" title="Settings"><i class="fa fa-cog fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="users" title="Users"><i class="fa fa-user fa-fw"></i></a></li>
				<li routerLinkActive="active"><a routerLink="secrets" title="Secrets"><i class="fa fa-key fa-fw"></i></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/welcome/signout" title="Sign Out"><i class="fa fa-sign-out"></i></a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	<!--/.container-fluid -->
</nav>
