<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th width="100px">Field</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Name:</th>
			<td>
				{{ streamService.itemObject[mainService.currentItem.target]?.name }}
			</td>
		</tr>
		<tr>
			<th>Fields:</th>
			<td>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="100px">Name</th>
							<th>
								Mapped?
								<span class="label label-info">Data fields are excluded</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let field of targetFields; let i = index;">
							<td> {{ field.name }} </td>
							<td>
								<input type="checkbox" [(ngModel)]="field.isMapped" (change)="redesignFields()">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button class="btn btn-default btn-xs" type="button" (click)="mainService.update()">
									<i class="fa fa-check-circle"></i> Apply</button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
