<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Environment</h3>
	</div>
	<div class="box-body">
		<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label for="environmentName" class="col-lg-1 control-label">Name:</label>
					<div class="col-lg-11">
						<input type="text" class="form-control" id="environmentName" name="environmentName" [(ngModel)]="mainService.currentItem.name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentType" class="col-lg-1 control-label">Type:</label>
					<div class="col-lg-11">
						<select name="environmentType" id="environmentType" class="form-control" [(ngModel)]="mainService.currentItem.type" required>
							<option *ngFor="let envType of mainService.typeList" [value]="envType.value">{{envType.label}} - {{getEnvironmentTypeDescription(envType.value)}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentServer" class="col-lg-1 control-label">Server:</label>
					<div class="col-lg-11">
						<input type="text" class="form-control" id="environmentServer" name="environmentServer" [(ngModel)]="mainService.currentItem.server"
						 required>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentPort" class="col-lg-1 control-label">Port:</label>
					<div class="col-lg-11">
						<input type="text" class="form-control" id="environmentPort" name="environmentPort" [(ngModel)]="mainService.currentItem.port" required>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentUsername" class="col-lg-1 control-label">Username:</label>
					<div class="col-lg-11">
						<input type="text" class="form-control" id="environmentUsername" name="environmentUsername" [(ngModel)]="mainService.currentItem.username"
						 required>
						<span class="help-block" *ngIf="mainService.isPBCS()">
								<div class="well well-warning well-sm">
										With PBCS you should remember to add "identity domain" name to the username <br>
										E.g.:<br>
										Normal Username: mr.brown@awesomecompany.com<br>
										Identity Domain Name: a123456<br>
										Username to write above: a123456.mr.brown@awesomecompany.com
								</div>
							</span>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentPassword" class="col-lg-1 control-label">Password:</label>
					<div class="col-lg-11">
						<input type="password" class="form-control" id="environmentPassword" name="environmentPassword" [(ngModel)]="mainService.currentItem.password"
						 required>
					</div>
				</div>
				<div class="form-group">
					<label for="environmentVerified" class="col-lg-1 control-label">Verified?</label>
					<div class="col-lg-11">
						<i class="fa fa-fw fa-check-square-o" *ngIf="mainService.currentItem.verified"></i>
						<i class="fa fa-fw fa-square-o" *ngIf="!mainService.currentItem.verified"></i>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-11 col-lg-offset-1">
						<button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o fa-fw"></i> Save Changes</button>
						<button class="btn btn-warning btn-xs" type="button" routerLink="/dime/environments/environment-list"><i class="fa fa-ban fa-fw"></i> Cancel</button>
						<button class="btn btn-success btn-xs" type="button" (click)="mainService.verify()"><i class="fa fa-check fa-fw"></i> Verify Environment</button>
						<button class="btn btn-danger btn-xs pull-right" type="button" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name)"><i class="fa fa-trash fa-fw"></i> Delete Environment</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
