<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Source Stream</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Target Stream</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw text-success pointer" (click)="mainService.create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="mainService.create()" title="New Item">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Item
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let map of mainService.itemList">
							<tr *ngIf="shouldListItem(map.id)">
								<td class="text-nowrap d-flex justify-content-between px-0 py-1">

									<i [routerLink]="map.id" class="fa fa-edit fa-fw pointer" title="Main Definitions"></i>

									<i [routerLink]="[map.id, 'maptable']" class="fa fa-globe fa-fw pointer" title="Map Table"></i>

									<i [routerLink]="[map.id, 'sourcedefinitions']" class="fa fa-arrows fa-fw pointer" title="Source Stream Definitions"></i>
									<i [routerLink]="[map.id, 'sourcedefinitions']" class="fa fa-angle-double-right fa-fw pointer ml-n2" title="Source Stream Definitions"></i>

									<i [routerLink]="[map.id, 'targetdefinitions']" class="fa fa-angle-double-right fa-fw pointer" title="Target Stream Definitions"></i>
									<i [routerLink]="[map.id, 'targetdefinitions']" class="fa fa-arrows fa-fw pointer ml-n2" title="Target Stream Definitions"></i>

									<i [routerLink]="[map.id, 'importexport']" class="fa fa-exchange fa-rotate-90 fa-fw pointer" title="Import/Export"></i>

									<i class="fa fa-trash fa-fw ml-3 pointer text-danger" title="Delete" (click)="mainService.delete(map.id, map.name)"></i>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a [routerLink]="map.id">
										<i class="fa fa-chevron-right text-warning"></i>
										{{map.name}}
									</a>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a routerLink="../../streams/{{streamService.itemObject[map.source]?.id}}">
										<i class="fa fa-chevron-right text-warning"></i>
										{{streamService.itemObject[map.source]?.name}}
									</a>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a routerLink="../../streams/{{streamService.itemObject[map.target]?.id}}">
										<i class="fa fa-chevron-right text-warning"></i>
										{{streamService.itemObject[map.target]?.name}}
									</a>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
