<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Matrix</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li><a href="#matrixtabmaindefinitions" data-toggle="tab">Main Definitions</a></li>
			<li><a href="#matrixtabfields" data-toggle="tab">Fields</a></li>
			<li class="active"><a href="#matrixtabmatrix" data-toggle="tab">Validity Matrix</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in" id="matrixtabmaindefinitions">
				<app-dimematrix-detail-maindefinitions></app-dimematrix-detail-maindefinitions>
			</div>
			<div class="tab-pane fade in" id="matrixtabfields">
				<app-dimematrix-detail-fields></app-dimematrix-detail-fields>
			</div>
			<div class="tab-pane fade in active" id="matrixtabmatrix">
				<app-dimematrix-detail-matrix></app-dimematrix-detail-matrix>
			</div>
		</div>
	</div>
</div>
