<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Type</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Environment</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Database</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Table</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw text-success pointer" (click)="mainService.create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="mainService.create()" title="New Item">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Item
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let item of mainService.itemList">
							<tr *ngIf="shouldListItem(item.id)">
								<td class="text-nowrap d-flex justify-content-between px-0 py-1">
									<i [routerLink]="item.id" class="fa fa-sliders fa-fw pointer" title="Details/Edit"></i>
									<i [routerLink]="[item.id, 'fields']" class="fa fa-columns fa-fw pointer" title="Fields"></i>
									<i [routerLink]="[item.id, 'fielddescriptions']" class="fa fa-align-justify fa-fw pointer" title="Field Descriptions"></i>
									<i [routerLink]="[item.id, 'export']" class="fa fa-download fa-fw pointer mr-3" title="Export"></i>

									<i class="fa fa-trash fa-fw ml-auto pointer text-danger" title="Delete" (click)="mainService.delete(item.id, item.name)"></i>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a [routerLink]="item.id">
										<i class="fa fa-chevron-right text-warning"></i>
										{{item.name}}
									</a>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{ mainService.getStreamTypeDescription(item.type) }}</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a routerLink="../../environments/{{ item.environment }}"><i class="fa fa-chevron-right text-warning"></i> {{ environmentService.itemObject[item.environment]?.name }}</a>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{ item.dbName }}</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{ item.tableName }}</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
