<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
	<div class="form-group">
		<label for="itemName" class="control-label">Name:</label>
		<input type="text" class="form-control" id="itemName" name="itemName" [(ngModel)]="mainService.currentItem.name">
	</div>
	<div class="form-group">
		<label for="itemStream" class="control-label">Bound Stream:</label>
		<select name="itemStream" id="itemStream" class="form-control" [(ngModel)]="mainService.currentItem.stream">
			<option *ngFor="let stream of streamService.itemList" [value]="stream.id">{{stream.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label class="control-label">Tags:</label>
		<app-tag-selector [tags]="mainService.currentItem?.tags"></app-tag-selector>
	</div>
	<div class="form-group p-3 d-flex">
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isReady === atReadyStatus.Ready">
			This matrix definition is ready for data entry.
		</span>
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isReady === atReadyStatus.Checking">
			Please wait, system is checking if the matrix is ready...
		</span>
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isReady === atReadyStatus.NotReady">
			This matrix definition is not ready for data entry.
			<br> Issue: {{mainService.currentItem.notReadyReason}}
		</span>
		<div class="btn-group btn-group-xs ml-auto">
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-floppy-o fa-fw"></i> Save Changes
			</button>
			<button class="btn btn-danger" type="button" (click)="mainService.prepareMatrixTables()">
				Prepare Tables
			</button>
		</div>
		<div class="btn-group btn-group-xs ml-4">
			<button class="btn btn-danger pull-right" type="button" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name)">
				<i class="fa fa-trash fa-fw"></i> Delete Matrix
			</button>
		</div>

	</div>
</form>
