<form (ngSubmit)="mainService.update()" class="form-horizontal">
	<div class="form-group">
		<label for="streamName" class="control-label">Name:</label>
		<input type="text" class="form-control" id="streamName" name="streamName" [(ngModel)]="mainService.currentItem.name">
	</div>
	<div class="form-group">
		<label for="streamEnvironment" class="control-label">Environment:</label>
		<div class="input-group">
			<select name="streamEnvironment" id="streamEnvironment" class="form-control" [(ngModel)]="mainService.currentItem.environment" (change)="markDirty()">
				<option *ngFor="let environment of environmentService.itemList" [value]="environment.id">{{environment.name}}</option>
			</select>
			<div class="input-group-append">
				<span class="input-group-text border-0 bg-transparent">
					<a routerLink="/admin/environments/{{mainService.currentItem.environment}}" title="Go to Environment Details">
						<i class="fa fa-chevron-right text-warning"></i>
					</a>
				</span>
			</div>
		</div>
		<span class="help-block" *ngIf="mainService.currentItem.environment < 1">
			<div class="well well-warning well-sm">
				Please assign an environment to be able to change more details.
			</div>
		</span>
	</div>
	<!-- <div class="form-group">
		<label for="streamType" class="control-label">Stream Type:</label>
		<select name="streamType" id="streamType" class="form-control bg-transparent" [(ngModel)]="mainService.currentItem.type" disabled>
			<option *ngFor="let streamType of mainService.typeList" [value]="streamType.value">
				{{ mainService.getStreamTypeDescription(streamType.value) }}
			</option>
		</select>
	</div> -->
	<div class="form-group">
		<label for="streamType" class="control-label">Stream Type:</label>
		<input name="streamType" id="streamType" class="form-control bg-transparent" [ngModel]="mainService.getStreamTypeDescription(mainService.currentItem.type)" disabled>
	</div>
	<div class="form-group" *ngIf="(isClean() && (mainService.currentItem.environment > 0)) || mainService.currentItem.dbName">
		<label for="streamDB" class="control-label">
			<span *ngIf="isEnvironmentNoType()">Database Name:</span>
			<span *ngIf="isEnvironmentThisType('MSSQL')">Database Name:</span>
			<span *ngIf="isEnvironmentThisType('ORADB')">Database Name:</span>
			<span *ngIf="isEnvironmentThisType('HP')">Application Name:</span>
			<span *ngIf="isEnvironmentThisType('PBCS')">Application Name:</span>
		</label>
		<div class="input-group">
			<select name="streamDB" id="streamDB" class="form-control" [(ngModel)]="mainService.currentItem.dbName" (change)="markDirty()">
				<option *ngFor="let selectableDB of mainService.currentItem.databaseList" [value]="selectableDB.name">{{selectableDB.name}}</option>
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" [disabled]="isDirty()" (click)="mainService.refreshDatabases()" title="Refresh"><i class="fa fa-refresh"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group" *ngIf="(isClean() && (mainService.currentItem.environment > 0)) || mainService.currentItem.tableName">
		<label for="streamTable " class="control-label ">
			<span *ngIf="isEnvironmentNoType() ">TableName:</span>
			<span *ngIf="isEnvironmentThisType( 'MSSQL') ">Table Name:</span>
			<span *ngIf="isEnvironmentThisType( 'ORADB') ">Table Name:</span>
			<span *ngIf="isEnvironmentThisType( 'HP') ">Cube Name:</span>
			<span *ngIf="isEnvironmentThisType( 'PBCS') ">Cube Name:</span>
		</label>
		<div class="input-group ">
			<select name="streamTable " id="streamTable " class="form-control " [(ngModel)]="mainService.currentItem.tableName " (change)="markDirty() ">
				<option *ngFor="let selectableTable of mainService.currentItem.tableList " [value]="selectableTable.name ">{{selectableTable.name}}</option>
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default " type="button" [disabled]="!mainService.currentItem.dbName || !mainService.currentItemClean" (click)="mainService.refreshTables()" title="Refresh"><i class="fa fa-refresh"></i></button>
			</span>
		</div>
		<span class="help-block " *ngIf="!mainService.currentItem.dbName ">
			<div class="well well-warning well-sm ">
				Please assign a database to be able to change the table name.
			</div>
		</span>
	</div>
	<div class="form-group" *ngIf="!isEnvironmentThisType('PBCS') && !isEnvironmentThisType('HP')">
		<label for="streamQuery" class="control-label">Custom Query:</label>
		<textarea name="streamQuery" id="streamQuery" rows="4" class="form-control" [(ngModel)]="mainService.currentItem.customQuery" *ngIf="mainService.currentItem.tableName=='Custom Query'"></textarea>
		<div class="input-group" *ngIf="mainService.currentItem.tableName !='Custom Query'">
			<input type="text" class="form-control" id="streamQuery" name="streamQuery" [(ngModel)]="mainService.currentItem.customQuery" disabled>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" [disabled]="!mainService.currentItem.dbName || isDirty()" (click)="mainService.assignCustomQuery()">Assign Custom Query</button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Tags:</label>
		<app-tag-selector [tags]="mainService.currentItem?.tags"></app-tag-selector>
	</div>
	<!--





	<div class="form-group">
		<label class="col-2 control-label">Tags:</label>
		<div class="col-10">
			<div class="col-{{decideColWidth(tagService.groupList.length)}}" *ngFor="let tagGroup of tagService.groupList">
				{{tagGroup.name}}
				<hr />
				<ng-container *ngFor="let tagItem of tagService.itemList">
					<div class="checkbox" *ngIf="tagItem.taggroup == tagGroup.id">
						<label>
							<input type="checkbox" name="tagName{{tagItem.id}}" [(ngModel)]="mainService.currentItem?.tags[tagItem.id]"> {{tagItem.name}}
						</label>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="form-group ">
		<div class="col-10 col-offset-2 ">
			<span class="help-block " *ngIf="isDirty() ">
				<div class="well well-warning well-sm ">
					Changes must be saved before assignment.
				</div>
			</span>
			<button class="btn btn-primary btn-xs" type="submit ">
				<i class="fa fa-floppy-o fa-fw "></i> Save Changes
			</button>
			<button class="btn btn-warning btn-xs" type="button" routerLink="/dime/streams/stream-list ">
				<i class="fa fa-ban fa-fw "></i> Cancel
			</button>
			<button class="btn btn-success btn-xs" type="button" (click)="mainService.prepareTables()">
				<i class="fa fa-check-circle"></i> Prepare Tables
			</button>
			<button class="btn btn-success btn-xs" type="button" (click)="mainService.populateFieldDescriptions()">
				<i class="fa fa-arrow-circle-o-down"></i> Populate Field Descriptions
			</button>
			<button class="btn btn-danger btn-xs pull-right " type="button" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name) ">
				<i class="fa fa-trash fa-fw "></i> Delete Stream
			</button>
		</div>
	</div> -->
</form>
