<div class="box box-primary">
	<div class="box-body">
		<table class="table table-hover table-bordered table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th width="80">Actions</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let item of mainService.itemList">
				<tr *ngIf="shouldListItem(item.id)">
					<td>{{ item.name }}</td>
					<td>{{ item.username }}</td>
					<td>
						<div class="btn-toolbar" role="toolbar" aria-label="Tag Group Actions">
							<div class="btn-group btn-group-xs" role="group">
								<a class="btn btn-xs btn-default" [routerLink]="['../credential-detail/' + item.id]" title="Details/Edit"><i class="fa fa-pencil fa-fw"></i></a>
							</div>
							<div class="btn-group btn-group-xs pull-right" role="group">
								<button type="button" class="btn btn-danger btn-xs" (click)="mainService.delete(item.id, item.name)" title="Delete"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
							</div>
						</div>
					</td>
				</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>
