<header class="main-header">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false"
				 aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
				<a routerLink="/" class="navbar-brand">EPM Toolbox</a>
				<!--<a routerLink="/dime" class="navbar-brand">Dime</a>-->
			</div>
			<div id="topmenu" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="." title="Dime Dashboard"><i class="fa fa-home fa-fw"></i><br>Home</a></li>
					<li routerLinkActive="active"><a routerLink="environments" title="Environments"><i class="fa fa-building fa-fw"></i><br>Environments</a></li>
					<li routerLinkActive="active"><a routerLink="streams" title="Streams"><i class="fa fa-arrows fa-fw"></i><br>Streams</a></li>
					<li routerLinkActive="active"><a routerLink="maps" title="Maps"><i class="fa fa-globe fa-fw"></i><br>Maps</a></li>
					<li routerLinkActive="active"><a routerLink="matrices" title="Matrices"><i class="fa fa-th fa-fw"></i><br>Matrices</a></li>
					<li routerLinkActive="active"><a routerLink="schedules" title="Schedules"><i class="fa fa-calendar fa-fw"></i><br>Schedules</a></li>
					<li routerLinkActive="active"><a routerLink="processes" title="Processes"><i class="fa fa-cogs fa-fw"></i><br>Processes</a></li>
					<li routerLinkActive="active"><a routerLink="asyncprocesses" title="Async Processes"><i class="fa fa-link fa-fw"></i><br>AsyncBR</a></li>
					<li routerLinkActive="active"><a routerLink="settings" title="Settings"><i class="fa fa-cog fa-fw"></i><br>Settings</a></li>
					<li routerLinkActive="active"><a routerLink="secrets" title="Secrets"><i class="fa fa-lock fa-fw"></i><br>Secrets</a></li>
					<li routerLinkActive="active"><a routerLink="credentials" title="Credentials"><i class="fa fa-key fa-fw"></i><br>Credentials</a></li>
					<li routerLinkActive="active"><a routerLink="tags" title="Tags"><i class="fa fa-tags fa-fw"></i><br>Tags</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a routerLink="/welcome/signout" title="Sign Out"><i class="fa fa-sign-out"></i><br>Sign Out</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>
</header>
