<ng-container *ngIf="state$ | async as state; else loading">
	<ng-container *ngIf="state.loaded; else loading">
		<ng-container *ngIf="groups$ | async as groups; else loading">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24"></th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw ml-auto text-success pointer" (click)="create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="create()" title="New Tag Group">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Tag Group
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let group of groups; let i = index;">
							<tr>
								<td class="px-0 text-nowrap">
									<a [routerLink]="group.id" title="Edit">
										<i class="fa fa-edit fa-fw"></i>
									</a>
									<i class="fa fa-i-cursor fa-fw" title="Rename"></i>
									<i class="fa fa-caret-square-o-up fa-fw pointer" title="Move Up" (click)="positionMove(groups, group, -1)"></i>
									<i class="fa fa-caret-square-o-down fa-fw pointer" title="Move Down" (click)="positionMove(groups, group, 1)"></i>
									<i class="fa fa-trash fa-fw ml-3 pointer text-danger" title="Delete" (click)="delete(group)"></i>
								</td>
								<td>&nbsp;</td>
								<td class="px-0">
									<a [routerLink]="group.id">
										<i class="fa fa-chevron-right text-warning"></i>
										{{group.name}}
									</a>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</ng-container>
	</ng-container>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fa fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
