<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Map</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active">
				<a routerLink="maindefinitions" data-toggle="tab">Main Definitions</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="maptable" data-toggle="tab">Map Table</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="sourcedefinitions" data-toggle="tab">Source Definitions</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="targetdefinitions" data-toggle="tab">Target Definitions</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="importexport" data-toggle="tab">Import/Export</a>
			</li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
