{
	"hash": "There should be a really long and complicated string here. A 128 character long string is recommended.",
	"mysql": {
		"host": "fullyqualified.server.address",
		"port": 3306,
		"user": "username",
		"pass": "password",
		"db": "databasename"
	}
}