<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Matrix</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active">
				<a routerLink="definitions" data-toggle="tab">Main Definitions</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="fields" data-toggle="tab">Fields</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="matrix" data-toggle="tab">Validity Matrix</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="import" data-toggle="tab">Import</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="export" data-toggle="tab">Export</a>
			</li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
