<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="processName" class="col-xs-1 control-label">Name:</label>
			<div class="col-xs-11">
				<input type="text" class="form-control" id="processName" name="processName" [(ngModel)]="mainService.curItem.name">
			</div>
		</div>
		<div class="form-group">
			<label for="processSource" class="col-xs-1 control-label">Source Environment:</label>
			<div class="col-xs-11">
				<select name="processSource" id="processSource" class="form-control" [(ngModel)]="mainService.curItem.source">
					<option *ngFor="let srcEnvironment of environmentService.items | async" [value]="srcEnvironment.id"> {{ srcEnvironment.name }} </option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="processTarget" class="col-xs-1 control-label">Target Environment:</label>
			<div class="col-xs-11">
				<select name="processTarget" id="processTarget" class="form-control" [(ngModel)]="mainService.curItem.target">
					<option *ngFor="let tarEnvironment of environmentService.items | async" [value]="tarEnvironment.id"> {{ tarEnvironment.name }} </option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-11 col-xs-offset-1">
				<button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o fa-fw"></i> Save Changes</button>
			</div>
		</div>
		<div class="form-group" *ngIf="!mainService.curItemIsPrepared">
			<div class="col-xs-11 col-xs-offset-1">
				<span class="help-block">
					<div class="well well-warning well-sm">
							This map definition is not ready for processing. <br>
							<b>Issue List:</b>
							<ol>
								<li *ngFor="let issue of mainService.curItemIssueList">{{issue}}</li>
							</ol>
					</div>
				</span>
			</div>
		</div>
	</fieldset>
</form>
