<form (ngSubmit)="mainService.update('emailserver')" #f="ngForm" action="form-horizontal">
	<div class="table-responsive">
		<table class="table table-hover table-sm table-borderless m-0">
			<thead>
				<tr>
					<th width="230">Setting</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Host</td>
					<td>
						<input type="text" class="form-control form-control-sm" id="host" name="host" [(ngModel)]="mainService.items.emailserver.host">
					</td>
				</tr>
				<tr>
					<td>Port</td>
					<td>
						<input type="number" class="form-control form-control-sm" id="port" name="port" [(ngModel)]="mainService.items.emailserver.port">
					</td>
				</tr>
				<tr>
					<td>isSecure</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="issecure" id="issecure" [(ngModel)]="mainService.items.emailserver.issecure">
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>Reject Unauthorized</td>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="rejectunauthorized" id="rejectunauthorized" [(ngModel)]="mainService.items.emailserver.rejectunauthorized">
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>Username</td>
					<td>
						<input type="text" class="form-control form-control-sm" id="user" name="user" [(ngModel)]="mainService.items.emailserver.user">
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<input type="text" class="form-control form-control-sm" id="pass" name="pass" [(ngModel)]="mainService.items.emailserver.pass">
					</td>
				</tr>
				<tr>
					<td colspan="100">
						<button class="btn btn-primary btn-xs pull-right" type="submit">
							<i class="fa fa-floppy-o fa-fw"></i> Save Changes
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
