<form (ngSubmit)="mainService.update()" class="form-horizontal">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card mt-3">
					<div class="card-header bg-accent border-accent d-flex">
						Credential Details: {{mainService.currentItem.name}}
						<div class="btn-toolbar ml-auto">
							<div class="btn-group btn-group-xs">
								<button type="submit" class="btn btn-outline-dark" title="Save Changes"><i class="fa fa-floppy-o fa-fw"></i></button>
							</div>
							<div class="btn-group btn-group-xs ml-4">
								<button type="button" class="btn btn-outline-danger" title="Delete Item" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name)"><i class="fa fa-trash fa-fw"></i></button>
							</div>
						</div>
					</div>
					<div class="card-body border-accent">
						<div class="form-group">
							<label for="itemName" class="control-label">Name:</label>
							<input type="text" id="itemName" name="itemName" class="form-control" [(ngModel)]="mainService.currentItem.name">
						</div>
						<div class="form-group">
							<label for="itemUserName" class="control-label">Username:</label>
							<input type="text" id="itemUserName" name="itemUserName" class="form-control" [(ngModel)]="mainService.currentItem.username">
						</div>
						<div class="form-group">
							<label for="itemPassword" class="control-label">Password:</label>
							<div class="input-group">
								<input type="password" id="itemPassword" name="itemPassword" class="form-control" [(ngModel)]="mainService.currentItem.password">
								<div class="input-group-append" *ngIf="mainService.currentItem.clearPassword">
									<div class="input-group-text border-0 bg-transparent">
										{{mainService.currentItem.clearPassword}}
									</div>
								</div>
								<div class="input-group-append">
									<button class="btn btn-outline-dark border-0" title="Reveal Password" (click)="mainService.reveal()">
										<i class="fa fa-eye fa-fw"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Tags:</label>
							<app-tag-selector [tags]="mainService.currentItem?.tags"></app-tag-selector>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
