<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Schedule</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#scheduletabmaindefinitions" data-toggle="tab">Main Definitions</a></li>
			<li><a href="#scheduletabsteps" data-toggle="tab">Steps</a></li>
			<li><a href="#scheduletabhistory" data-toggle="tab">History</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="scheduletabmaindefinitions">
				<app-dimeschedule-detail-maindefinitions></app-dimeschedule-detail-maindefinitions>
			</div>
			<div class="tab-pane fade in" id="scheduletabsteps">
				<app-dimeschedule-detail-steps></app-dimeschedule-detail-steps>
			</div>
			<div class="tab-pane fade in" id="scheduletabhistory">
				<app-dimeschedule-detail-history></app-dimeschedule-detail-history>
			</div>
		</div>
	</div>
</div>
