<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Type</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Server</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Port</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Credentials</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Verified?</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw text-success pointer" (click)="mainService.create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="mainService.create()" title="New Item">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Item
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let item of mainService.itemList">
							<tr *ngIf="shouldListItem(item.id)">
								<td class="text-nowrap d-flex justify-content-between px-0 py-1">
									<i [routerLink]="item.id" class="fa fa-edit fa-fw pointer"></i>
									<i class="fa fa-check-square-o fa-fw mr-3 pointer" title="Verify" (click)="mainService.verify(item.id)"></i>
									<i class="fa fa-trash fa-fw ml-auto pointer text-danger" title="Delete" (click)="mainService.delete(item.id, item.name)"></i>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<a [routerLink]="item.id">
										<i class="fa fa-chevron-right text-warning"></i>
										{{item.name}}
									</a>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{mainService.typeObject[item.type]?.label}}</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{ item.server }}</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">{{ item.port }}</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<!-- {{ item.credential }} -->
									<!-- {{credentialState$ | async | json}} -->
									<ng-container *ngIf="credentialState$ | async as creds">
										<a routerLink="../../credentials/{{item.credential}}" title="Go to Credential Details">
											<i class="fa fa-chevron-right text-warning"></i>
											{{ creds.items[item.credential]?.name }}
										</a>
									</ng-container>
								</td>
								<td class="p-0">&nbsp;</td>
								<td class="p-0">
									<i class="fa fa-fw fa-check-square-o" *ngIf="item.verified" title="Environment is verified"></i>
									<i class="fa fa-fw fa-square-o" *ngIf="!item.verified" title="Environment is not verified"></i>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
