<form (ngSubmit)="mainService.update('systemadmin')" #f="ngForm" action="form-horizontal">
	<div class="table-responsive">
		<table class="table table-hover table-sm table-borderless">
			<thead>
				<tr>
					<th width="230">Setting</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>From Name</td>
					<td>
						<input type="text" class="form-control form-control-sm" id="fromname" name="fromname" [(ngModel)]="mainService.items.systemadmin.fromname">
					</td>
				</tr>
				<tr>
					<td>E-Mail Address</td>
					<td>
						<input type="email" class="form-control form-control-sm" id="emailaddress" name="emailaddress" [(ngModel)]="mainService.items.systemadmin.emailaddress">
					</td>
				</tr>
				<tr>
					<td colspan="100">
						<button class="btn btn-primary btn-xs pull-right" type="submit">
							<i class="fa fa-floppy-o fa-fw"></i> Save Changes
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
