<form class="form-inline">
	<div>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					Select Log:
				</span>
			</div>
			<select name="selectedLog" id="selectedLog" class="form-control" [(ngModel)]="currentLog">
				<option *ngFor="let log of allLogs; let i = index;" value="{{i}}">{{log.start}}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-dark" type="button" (click)="refreshLogs()">
					<i class="fa fa-refresh fa-fw"></i> Refresh
				</button>
			</div>
		</div>
	</div>
</form>
<hr>
<pre *ngIf="allLogs[currentLog]">{{allLogs[currentLog].details}}</pre>
