<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Source Environment</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Target Environment</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-0 text-nowrap text-right">
								<i class="fa fa-plus-square fa-fw text-success pointer" (click)="mainService.create()"></i>
							</td>
							<td>&nbsp;</td>
							<td class="px-0">
								<span class="p-0 pointer" (click)="mainService.create()" title="New Item">
									<i class="fa fa-chevron-right text-warning"></i>
									<i class="fa fa-chevron-right text-warning"></i>
									New Item
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let itemid of mainService.itemids; let i = index;">
							<ng-container *ngIf="mainService.items[itemid] as item">
								<tr *ngIf="shouldListItem(item.id)">
									<td class="text-nowrap d-flex justify-content-between px-0 py-1">
										<a [routerLink]="item.id" title="Main Definitions"><i class="fa fa-edit fa-fw"></i></a>
										<a [routerLink]="[item.id, 'run']" title="Run Process"><i class="fa fa-space-shuttle fa-fw"></i></a>
										<a [routerLink]="[item.id, 'steps']" title="Steps"><i class="fa fa-steam fa-fw"></i></a>
										<a [routerLink]="[item.id, 'defaulttargets']" title="Default Targets"><i class="fa fa-bullseye fa-fw"></i></a>
										<a [routerLink]="[item.id, 'filters']" title="Filters"><i class="fa fa-filter fa-fw"></i></a>
										<a [routerLink]="[item.id, 'filtersdatafile']" title="Filters for Data File"><i class="fa fa-filter fa-fw"></i><i class="fa fa-file-excel-o fa-fw ml-n3"></i></a>
										<a [routerLink]="[item.id, 'history']" title="History"><i class="fa fa-history fa-fw"></i></a>
										<i class="fa fa-file-excel-o fa-fw pointer" title="Send Data File" (click)="mainService.sendDataFile(item.id)"></i>
										<i class="fa fa-trash fa-fw ml-3 pointer text-danger" title="Delete" (click)="mainService.delete(item.id, item.name)"></i>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a [routerLink]="item.id">
											<i class="fa fa-chevron-right text-warning"></i>
											{{item.name}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a routerLink="../../environments/{{item.source}}">
											<i class="fa fa-chevron-right text-warning"></i>
											{{environmentService.itemObject[item.source]?.name}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										<a routerLink="../../environments/{{item.target}}">
											<i class="fa fa-chevron-right text-warning"></i>
											{{environmentService.itemObject[item.target]?.name}}
										</a>
									</td>
									<td class="p-0">&nbsp;</td>
									<td class="p-0">
										{{dimeProcessStatus[item.status]}}
									</td>
								</tr>
							</ng-container>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- <div class="box box-primary">
	<div class="box-body">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Source Environment</th>
					<th>Target Environment</th>
					<th>Status</th>
					<th width="260">Actions</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let itemid of mainService.itemids; let i = index;">
					<tr *ngIf="shouldListItem(itemid)">
						<td>
							<a [routerLink]="['../process-detail', itemid]" class="at-table-link">{{mainService.items[itemid].name}}</a>
						</td>
						<td>
							<a routerLink="../../environments/{{mainService.items[itemid].source}}" class="at-table-link">
								{{environmentService.itemObject[mainService.items[itemid].source]?.name}}
							</a>
						</td>
						<td>
							<a routerLink="../../environments/{{mainService.items[itemid].target}}" class="at-table-link">
								{{environmentService.itemObject[mainService.items[itemid].target]?.name}}
							</a>
						</td>
						<td>
							{{dimeProcessStatus[mainService.items[itemid].status]}}
						</td>
						<td>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div> -->
