<!-- <form (ngSubmit)="mainService.applyFiltersDataFile()" #f="ngForm" class="form form-horizontal">
	<div class="form-group" *ngFor="let field of mainService.curItemSourceFields | dimeProcessFilter: {isCrossTabFilter:1}">
		<div class="input-group" *ngIf="field.type == 'date' && mainService.curItemFiltersDataFile[field.name]">
			<div class="input-group-addon" style="width:150px;text-align:left;">{{field.name}}:</div>
			<div class="input-group-addon">&gt;=</div>
			<input type="date" class="form-control" name="{{field.name}}from" placeholder="{{field.fDateFormat}}" [(ngModel)]="mainService.curItemFiltersDataFile[field.name].filterfrom">
			<div class="input-group-addon">&lt;=</div>
			<input type="date" class="form-control" name="{{field.name}}to" placeholder="{{field.fDateFormat}}" [(ngModel)]="mainService.curItemFiltersDataFile[field.name].filterto">
		</div>
		<div class="input-group" *ngIf="field.type == 'string' && mainService.curItemFiltersDataFile[field.name]">
			<div class="input-group-addon" style="width:150px;text-align:left;">{{field.name}}:</div>
			<input type="text" class="form-control" name="{{field.name}}textfilter" placeholder="ABC%?" [(ngModel)]="mainService.curItemFiltersDataFile[field.name].filtertext">
		</div>
		<div class="input-group" *ngIf="field.type == 'number' && mainService.curItemFiltersDataFile[field.name]">
			<div class="input-group-addon" style="width:150px;text-align:left;">{{field.name}}:</div>
			<div class="input-group-addon">&gt;=</div>
			<input type="number" class="form-control" name="{{field.name}}beq" placeholder="###" [(ngModel)]="mainService.curItemFiltersDataFile[field.name].filterbeq">
			<div class="input-group-addon">&lt;=</div>
			<input type="number" class="form-control" name="{{field.name}}seq" placeholder="###" [(ngModel)]="mainService.curItemFiltersDataFile[field.name].filterseq">
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-xs btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
	</div>
</form> -->
