<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
	<div class="form-group">
		<label for="processName" class="control-label">Name:</label>
		<input type="text" class="form-control" id="processName" name="processName" [(ngModel)]="mainService.currentItem.name">
	</div>
	<div class="form-group">
		<label for="processSource" class="control-label">Source Environment:</label>
		<select name="processSource" id="processSource" class="form-control" [(ngModel)]="mainService.currentItem.source">
			<option *ngFor="let srcEnvironment of environmentService.itemList" [value]="srcEnvironment.id"> {{ srcEnvironment.name }} </option>
		</select>
	</div>
	<div class="form-group">
		<label for="processTarget" class="control-label">Target Environment:</label>
		<select name="processTarget" id="processTarget" class="form-control" [(ngModel)]="mainService.currentItem.target">
			<option *ngFor="let tarEnvironment of environmentService.itemList" [value]="tarEnvironment.id"> {{ tarEnvironment.name }} </option>
		</select>
	</div>
	<div class="form-group">
		<label for="processTarget" class="control-label">E-mail to Inform on Error:</label>
		<input type="email" class="form-control" id="processerroremail" name="processerroremail" [(ngModel)]="mainService.currentItem.erroremail" />
	</div>
	<div class="form-group">
		<label class="control-label">Tags:</label>
		<app-tag-selector [tags]="mainService.currentItem?.tags"></app-tag-selector>
	</div>
	<div class="form-group d-flex p-3">
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isPrepared === atReadyStatus.Ready">
			This process definition is ready to run.
		</span>
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isPrepared === atReadyStatus.Checking">
			Please wait, system is checking if the process is ready...
		</span>
		<span class="form-text text-muted" *ngIf="mainService.currentItem.isPrepared === atReadyStatus.NotReady">
			This process definition is not ready for data entry.
			<br> Issue List:
			<ol>
				<li *ngFor="let issue of mainService.currentItem.issueList">{{issue}}</li>
			</ol>
		</span>
		<button class="btn btn-outline-success btn-xs ml-auto" type="submit">
			<i class="fa fa-floppy-o fa-fw"></i> Save Changes
		</button>
	</div>
</form>
