<div class="form-group">
	<label for="steptarprocedure" class="control-label">Definition:</label>
	<hr style="margin: 5px 0;">
	<div>
		<span *ngIf="proceduresAll.length == 0">
			<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Please wait, retrieving items...
		</span>
		<div class="row">
			<div class="col-xs-6">
				<span *ngIf="proceduresAll.length > 0">
					<label for="procedureFilter" class="control-label">Filter:</label>
					<div class="input-group">
						<select class="form-control" name="selectedtable" (change)="tableChanged()" [(ngModel)]="currentStep.detailsObject.selectedTable">
							<option value="0" disabled>Select</option>
							<option *ngFor="let table of environmentTables" value="{{table.name}}">{{table.name}}</option>
						</select>
						<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
						<input type="text" name="procedureFilter" id="procedureFilter" [(ngModel)]="filter" (keyup)="applyFilter()" class="form-control">
						<span class="input-group-addon">
							Showing {{procedures.length}}/{{proceduresAll.length}}
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" (click)="filter='';applyFilter();">
								<i class="fa fa-eraser fw"></i> Clear
							</button>
						</span>
					</div>
					<hr>
					<ng-container *ngFor="let procedure of procedures;let i = index">
						<label>
							<input type="radio" name="steptarprocedure{{i}}selection" [checked]="currentStep.detailsObject?.name == procedure.name" [value]="procedure" (change)="stepProcedureSelected(procedure)"> {{procedure.name}}
						</label>
						<br>
					</ng-container>
				</span>
			</div>
			<div class="col-xs-6">
				<span *ngIf="currentStep.detailsObject?.name">
					<label class="control-label">{{currentStep.detailsObject.name}}:</label>
					<br>
					<span *ngIf="isRefreshingProcedureDetails">
						<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Please wait, refreshing details...
					</span>
					<ng-container *ngIf="!isRefreshingProcedureDetails">
						<span *ngFor="let curVariable of currentStep.detailsObject.variables; let index = index;">
							<div class="input-group">
								<span class="input-group-addon" style="width:200px;max-width:200px;text-align:left;">
									{{curVariable.description}}
								</span>
								<select name="valuetype{{index}}" class="form-control" [(ngModel)]="curVariable.valuetype" (change)="variableTypeChange(curVariable)">
									<option value="filteredvalues">Filtered Distinct Values of</option>
									<option value="allvalues">All Distinct Values of</option>
									<option value="manualvalue">Assign Value:</option>
								</select>
								<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
								<select name="variable{{index}}field" class="form-control" [(ngModel)]="curVariable.value" *ngIf="curVariable.valuetype!='manualvalue'" style="width:150px" disabled>
									<option *ngFor="let field of streamService.itemObject[this.targetStreamID]?.fieldList" [value]="field.name">{{field.name}}</option>
								</select>
								<input type="text" class="form-control" [(ngModel)]="curVariable.value" name="variable{{index}}field" *ngIf="curVariable.valuetype=='manualvalue'" style="width:150px">
							</div>
						</span>
					</ng-container>
				</span>
			</div>
		</div>
	</div>
</div>
