<form class="form" (ngSubmit)="updateDefaultTargets()" #f="ngForm" class="form-horizontal">
	<div class="form-group" *ngFor="let field of streamService.itemObject[targetStreamID]?.fieldList">
		<div class="input-group">
			<div class="input-group-addon" style="min-width:150px; text-align:left;">{{field.name}}:</div>
			<input type="text" class="form-control" name="{{field.name}}defaultValue" placeholder="Please enter default value" [(ngModel)]="mainService.currentItem.defaultTargets[field.name]">
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-xs btn-success pull-right">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
	</div>
</form>
