<section class="content-header">

</section>
<section class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Settings</h3>
		</div>
		<div class="box-header">
			<ul class="nav nav-tabs">
				<li routerLinkActive="active" data-toggle="tab">
					<a routerLink="systemadmin">
						System Admin
					</a>
				</li>
				<li routerLinkActive="active" data-toggle="tab">
					<a routerLink="mailserver">
						Mail Server
					</a>
				</li>
			</ul>
		</div>
		<div class="box-body">
			<div class="tab-content">
				<div class="tab-pane active">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</section>
