<div class="w-100 p-3">
	<ul class="nav nav-tabs">
		<li class="nav-item"> <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="./" data-toggle="tab"> <i class="fa fa-sliders fa-fw"></i> Main Definitions </a> </li>
		<li class="nav-item"> <a routerLinkActive="active" class="nav-link" routerLink="steps" data-toggle="tab"> <i class="fa fa-steam fa-fw"></i> Steps </a> </li>
		<li class="nav-item"> <a routerLinkActive="active" class="nav-link" routerLink="history" data-toggle="tab"> <i class="fa fa-history fa-fw"></i> History </a> </li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="scheduletabmaindefinitions">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
