<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Source</th>
							<th>Target</th>
							<th>Status</th>
							<th width="160">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let environment of environmentList; let i = index;">
							<td>{{ process | json }}</td>
							<td>{{ process.source }}</td>
							<td>{{ process.target }}</td>
							<td>{{ process.status }}</td>
							<td>Actions</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
