<div class="form-group">
	<label for="stepsenddata" class=" control-label">Recepients:</label>
	<div class="p-3">
		<button class="btn btn-xs btn-outline-dark" (click)="recepientAdd()" type="button">Add Recepient</button>
		<hr>
		<span *ngFor="let recepient of currentStep.detailsObject; let i = index;">
			<!-- <div class="form-group"> -->
			<div class="input-group mb-1">
				<span class="input-group-prepend"><span class="input-group-text">{{i+1}}</span></span>
				<input type="text" class="form-control" [(ngModel)]="recepient.address" name="stepsenddatarecepient{{i}}">
				<span class="input-group-append">
					<button type="button" class="btn btn-outline-danger" (click)="recepientDelete(i)">
						<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
					</button>
				</span>
			</div>
			<!-- </div> -->
		</span>
	</div>
</div>
