<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Process</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active">
				<a routerLink="definitions" data-toggle="tab">
					<i class="fa fa-sliders fa-fw"></i> Main Definitions
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="run" data-toggle="tab">
					<i class="fa fa-space-shuttle fa-fw"></i> Run Process
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="steps" data-toggle="tab">
					<i class="fa fa-steam fa-fw"></i> Steps
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="defaulttargets" data-toggle="tab">
					<i class="fa fa-bullseye fa-fw"></i> Default Targets
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="filters" data-toggle="tab">
					<i class="fa fa-filter fa-fw"></i> Filters
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="filtersdatafile" data-toggle="tab">
					<i class="fa fa-filter fa-fw"></i> Filters (Data File)
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="history" data-toggle="tab">
					<i class="fa fa-history fa-fw"></i> History
				</a>
			</li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
