<div class="w-100 p-3">
	<form (ngSubmit)="secretService.update(currentItem)" #f="ngForm" class="form-horizontal">
		<div class="form-group">
			<label for="secretName" class="control-label">Name:</label>
			<input type="text" name="secretName" id="secretName" class="form-control" [(ngModel)]="currentItem.name">
		</div>
		<div class="form-group">
			<label for="secretName" class="control-label">Secret:</label>
			<input type="text" name="secretSecret" id="secretSecret" class="form-control" [(ngModel)]="currentItem.secret">
		</div>
		<div class="form-group">
			<label class="control-label">
				White List:
			</label>
			<div class="table-responsive">
				<table class="table table-hover table-borderless table-sm">
					<tbody>
						<tr>
							<td colspan="100">
								<button class="btn btn-outline-success btn-xs" type="button" (click)="whiteListItemAdd()">
									<i class="fa fa-plus fa-fw pointer"></i> Add Entry
								</button>
							</td>
						</tr>
						<ng-container *ngFor="let whiteListItem of currentItem.whiteList; let idx = index; trackBy: customTrackBy">
							<tr>
								<td>
									<div class="input-group input-group-sm">
										<input type="text" name="whiteListItem{{idx}}" id="whiteListItem{{idx}}" class="form-control form-control-sm" placeholder="IP address/Domain Name" [(ngModel)]="currentItem.whiteList[idx]">
										<div class="input-group-append">
											<button class="btn btn-outline-danger" type="button" (click)="whiteListItemDelete(idx)">
												<i class="fa fa-trash fa-fw"></i>
											</button>
										</div>
									</div>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group d-flex p-3">
			<div class="btn-toolbar w-100">
				<div class="btn-group btn-group-xs" role="group">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-floppy-o fa-fw"></i> Save Changes
					</button>
				</div>
				<div class="btn-group btn-group-xs ml-auto" role="group">
					<button class="btn btn-danger" type="button" (click)="secretService.delete(currentItem.id, currentItem.name)">
						<i class="fa fa-trash fa-fw"></i> Delete
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
