<h3 style="padding:0;margin:0;margin-bottom:10px;">
	{{stepNames[currentStep.type]}}
</h3>
<hr>
<form (ngSubmit)="mainService.stepUpdate(currentStep)" *ngIf="currentStep" style="margin-bottom:26px">
	<div class="form-group">
		<label for="stepType" class="control-label">Type:</label>
		<select name="stepType" id="stepType" class="form-control" [(ngModel)]="currentStep.type">
			<option *ngFor="let type of stepTypesArray" value="{{type}}">{{stepNames[type]}}</option>
		</select>
	</div>
	<app-dimeprocess-step-detail-srcprocedure *ngIf="currentStep?.type === stepTypes.SourceProcedure" [currentStep]="currentStep"></app-dimeprocess-step-detail-srcprocedure>
	<app-dimeprocess-step-detail-pulldata *ngIf="currentStep?.type === stepTypes.PullData" [currentStep]="currentStep"></app-dimeprocess-step-detail-pulldata>
	<app-dimeprocess-step-detail-mapdata *ngIf="currentStep?.type === stepTypes.MapData" [currentStep]="currentStep"></app-dimeprocess-step-detail-mapdata>
	<app-dimeprocess-step-detail-transform *ngIf="currentStep?.type === stepTypes.TransformData" [currentStep]="currentStep"></app-dimeprocess-step-detail-transform>
	<app-dimeprocess-step-detail-validate *ngIf="currentStep?.type === stepTypes.ValidateData" [currentStep]="currentStep"></app-dimeprocess-step-detail-validate>
	<app-dimeprocess-step-detail-pushdata *ngIf="currentStep?.type === stepTypes.PushData" [currentStep]="currentStep"></app-dimeprocess-step-detail-pushdata>
	<app-dimeprocess-step-detail-tarprocedure *ngIf="currentStep?.type === stepTypes.TargetProcedure" [currentStep]="currentStep"></app-dimeprocess-step-detail-tarprocedure>
	<app-dimeprocess-step-detail-senddata *ngIf="currentStep?.type === stepTypes.SendData" [currentStep]="currentStep"></app-dimeprocess-step-detail-senddata>
	<app-dimeprocess-step-detail-sendmissing *ngIf="currentStep?.type === stepTypes.SendMissingMaps" [currentStep]="currentStep"></app-dimeprocess-step-detail-sendmissing>
	<app-dimeprocess-step-detail-sendlogs *ngIf="currentStep?.type === stepTypes.SendLogs" [currentStep]="currentStep"></app-dimeprocess-step-detail-sendlogs>
	<div class="form-group">
		<button class="btn btn-primary btn-xs pull-right" type="submit">
			<i class="fa fa-floppy-o fa-fw"></i> Save Changes
		</button>
	</div>
</form>
