<div class="container-fluid" *ngIf="state$ | async as state; else loading">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-borderless m-0">
					<thead>
						<tr>
							<th class="border-bottom border-warning m-0 p-0" width="10">Actions</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Name</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">Surname</th>
							<th width="24">&nbsp;</th>
							<th class="border-bottom border-warning m-0 p-0">E-Mail Address</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fa fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
<pre>{{state$ | async | json}}</pre>
