.control-label {
	font-weight: bold;
	font-size: 15px;
}

textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.tab-pane {
	border: 1px solid rgb(221, 221, 221);
	border-top: 0;
	padding: 20px;
	/*padding-right: 20px;*/
}

.box-body {
	margin-top: -20px;
}