<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Stream</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active">
				<a routerLink="definitions" data-toggle="tab">Main Definitions</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="fields" data-toggle="tab">Fields</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="fielddescriptions" data-toggle="tab">Field Descriptions</a>
			</li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
