<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Stream</h3>
	</div>
	<div class="box-header">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#streamtabmaindefinitions" data-toggle="tab">Main Definitions</a></li>
			<li><a href="#streamtabfields" data-toggle="tab">Fields</a></li>
			<li><a href="#streamtabfielddescriptiontables" data-toggle="tab" *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP' && mainService.curItemAssignedFields">Field Description Tables</a></li>
		</ul>
	</div>
	<div class="box-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="streamtabmaindefinitions">
				<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="streamName" class="col-xs-2 control-label">Name:</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="streamName" name="streamName" [(ngModel)]="mainService.curItem.name">
							</div>
						</div>
						<div class="form-group">
							<label for="streamType" class="col-xs-2 control-label">Type:</label>
							<div class="col-xs-10">
								<select name="streamType" id="streamType" class="form-control" [(ngModel)]="mainService.curItem.type">
									<option *ngFor="let streamType of mainService.typeList" [value]="streamType.id">{{streamType.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="streamEnvironment" class="col-xs-2 control-label">Environment:</label>
							<div class="col-xs-10">
								<select name="streamEnvironment" id="streamEnvironment" class="form-control" [(ngModel)]="mainService.curItem.environment" (change)="mainService.curItemClean=false;">
									<option *ngFor="let environment of environmentService.items | async" [value]="environment.id">{{environment.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="streamDB" class="col-xs-2 control-label" *ngIf="!mainService.curItemEnvironmentType">Database Name:</label>
							<label for="streamDB" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='MSSQL'">Database Name:</label>
							<label for="streamDB" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='HP'">Application Name:</label>
							<label for="streamDB" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='PBCS'">Application Name:</label>
							<div class="col-xs-10">
								<div class="input-group">
									<select name="streamDB" id="streamDB" class="form-control" [(ngModel)]="mainService.curItem.dbName" (change)="mainService.curItemClean=false;">
										<option *ngFor="let selectableDB of mainService.curItemDatabaseList" [value]="selectableDB.name">{{selectableDB.name}}</option>
									</select>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" [disabled]="mainService.curItem.environment < 1 || !mainService.curItemClean" (click)="mainService.refreshDatabases()">Refresh</button>
									</span>
								</div>
								<span class="help-block" *ngIf="mainService.curItem.environment < 1">
									<div class="well well-warning well-sm">
											Please assign an environment to be able to change the database.
									</div>
								</span>
								<span class="help-block" *ngIf="!mainService.curItemClean">
									<div class="well well-warning well-sm">
											Changes must be saved before assignment.
									</div>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="streamTable" class="col-xs-2 control-label" *ngIf="!mainService.curItemEnvironmentType">Table Name:</label>
							<label for="streamTable" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='MSSQL'">Table Name:</label>
							<label for="streamTable" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='HP'">Cube Name:</label>
							<label for="streamTable" class="col-xs-2 control-label" *ngIf="mainService.curItemEnvironmentType=='PBCS'">Cube Name:</label>
							<div class="col-xs-10" *ngIf="mainService.curItemEnvironmentType == 'PBCS'">
								<input type="text" class="form-control" id="streamTable" name="streamTable" [(ngModel)]="mainService.curItem.tableName">
								<span class="help-block" *ngIf="!mainService.curItem.dbName">
									<div class="well well-warning well-sm">
											Please assign a database/application to be able to change the tablename.
									</div>
								</span>
							</div>
							<div class="col-xs-10" *ngIf="mainService.curItemEnvironmentType != 'PBCS'">
								<div class="input-group">
									<select name="streamTable" id="streamTable" class="form-control" [(ngModel)]="mainService.curItem.tableName" (change)="mainService.curStreamClean=false;">
										<option *ngFor="let selectableTable of mainService.curItemTableList" [value]="selectableTable.name">{{selectableTable.name}} ({{selectableTable.type}})</option>
									</select>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" [disabled]="!mainService.curItem.dbName" (click)="mainService.refreshTables()">Refresh</button>
									</span>
								</div>
								<span class="help-block" *ngIf="!mainService.curItem.dbName">
									<div class="well well-warning well-sm">
											Please assign a database to be able to change the tablename.
									</div>
								</span>
							</div>
						</div>
						<div class="form-group" *ngIf="mainService.curItemEnvironmentType == 'MSSQL'">
							<label for="streamQuery" class="col-xs-2 control-label">Custom Query:</label>
							<div class="col-xs-10">
								<textarea name="streamQuery" id="streamQuery" rows="10" class="form-control" [(ngModel)]="mainService.curItem.customQuery" *ngIf="mainService.curItem.tableName == 'Custom Query'"></textarea>
								<input type="text" class="form-control" id="streamQuery" name="streamQuery" [(ngModel)]="mainService.curItem.customQuery" disabled *ngIf="mainService.curItem.tableName != 'Custom Query'">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-10 col-xs-offset-2">
								<button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o fa-fw"></i> Save Changes</button>
								<button class="btn btn-warning btn-xs" type="button" routerLink="/dime/streams/stream-list"><i class="fa fa-ban fa-fw"></i> Cancel</button>
								<button class="btn btn-danger btn-xs pull-right" type="button" (click)="mainService.delete(mainService.curItem.id, mainService.curItem.name)"><i class="fa fa-trash fa-fw"></i> Delete Stream</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="tab-pane fade" id="streamtabfields">
				<button 
					*ngIf="!mainService.curItemAssignedFields && mainService.curItemEnvironmentType != 'PBCS'" 
					type="button" class="btn btn-default btn-xs" (click)="mainService.listFieldsFromSourceEnvironment(mainService.curItem.id)">
					Refresh Fields from Server
				</button>
				<!--<button *ngIf="!assignedFields && curStreamEnvironmentType == 'PBCS'" type="button" class="btn btn-default btn-xs" (click)="streamInitiateFieldsPBCS()">Start</button>-->
				<!--<button *ngIf="!assignedFields && curStreamEnvironmentType == 'PBCS' && mainService.curItemSourcedFields" type="button" class="btn btn-default btn-xs" (click)="streamSourcedFieldAdd()">Add New Field</button>-->
				<button *ngIf="mainService.curItemSourcedFields" type="button" class="btn btn-default btn-xs" (click)="streamAssignFields()">Assign Fields</button>
				<!--<button *ngIf="assignedFields" type="button" class="btn btn-default btn-xs" (click)="streamFieldsStartOver(curStream)">Start Over</button>-->
				<!--<button *ngIf="assignedFields" type="button" class="btn btn-default btn-xs" (click)="streamFieldsSaveChanges()"><i class="fa fa-save fa-fw"></i> Save Changes</button>-->
				<hr *ngIf="mainService.curItemSourcedFields  || mainService.curItemAssignedFields">
				<div *ngIf="mainService.curItemSourcedFields && !mainService.curItemAssignedFields && mainService.curItemEnvironmentType != 'PBCS'">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Should Ignore?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Assign Properties</th>
							<th>Actions</th>
						</tr>
						<tr *ngFor="let curField of mainService.curItemSourcedFields;let i = index;let last=last;let first=first">
							<td>{{curField.name}}</td>
							<td>{{curField.type}}</td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.shouldIgnore"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">
								<div class="input-group" *ngIf="curField.type=='number' && !curField.shouldIgnore">
									<span class="input-group-addon"><b># of Digits:</b></span>
									<input type="number" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="curField.precision" min="1" max="65">
									<span class="input-group-addon">(Min: 1, Max: 65)</span>
									<input type="number" class="form-control" placeholder="Decimal Number Digits" [(ngModel)]="curField.decimals" min="0" max="{{curField.precision -1 || 0}}">
									<span class="input-group-addon">(Min: 0, Max: {{curField.precision -1 || 0}})</span>
								</div>
								<div class="input-group" *ngIf="curField.type=='string' && !curField.shouldIgnore">
									<span class="input-group-addon"><b># of Chars:</b></span>
									<input type="number" class="form-control" min="1" max="1024" [(ngModel)]="curField.characters">
									<span class="input-group-addon">(Max: 1024)</span>
								</div>
								<div class="input-group" *ngIf="curField.type=='date' && !curField.shouldIgnore">
									<span class="input-group-addon"><b>Format:</b></span>
									<input type="text" class="form-control" [(ngModel)]="curField.dateFormat" placeholder="YYYY-MM-DD HH:mm">
									<span class="input-group-addon">(Y: Year, M: Month, D: Day, H: Hour, m: Minute)</span>
								</div>
							</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<button *ngIf="!last" type="button" class="btn btn-xs btn-default" title="Move Down" (click)="mainService.fieldMove(mainService.curItemSourcedFields, curField, 'down')"><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="last || first" type="button" class="btn btn-xs btn-default" title="Nothing to do!"><i class="fa fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="!first" type="button" class="btn btn-xs btn-default" title="Move Up" (click)="mainService.fieldMove(mainService.curItemSourcedFields, curField, 'up')"><i class="fa fa-caret-up fa-fw" aria-hidden="true"></i></button>
								</div>
							</td>

						</tr>
					</table>
				</div>
				<!--<div *ngIf="mainService.curItemSourcedFields && !assignedFields && curStreamEnvironmentType == 'PBCS'">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Should Ignore?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Assign Properties</th>
							<th>Actions</th>
						</tr>
						<tr *ngFor="let curField of mainService.curItemSourcedFields;let i = index;let last=last;let first=first">
							<td>
								<input type="text" class="form-control" placeholder="Dimension Name" [(ngModel)]="curField.name">
							</td>
							<td>
								<select [(ngModel)]="curField.type" class="form-control">
									<option *ngFor="let curType of pbcsFieldTypes" value="{{curType}}">{{curType}}</option>
								</select>
							</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<button *ngIf="!last" type="button" class="btn btn-xs btn-default" title="Move Down" (click)="streamFieldMove(mainService.curItemSourcedFields, curField, 'down')"><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="last || first" type="button" class="btn btn-xs btn-default" title="Nothing to do!"><i class="fa fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="!first" type="button" class="btn btn-xs btn-default" title="Move Up" (click)="streamFieldMove(mainService.curItemSourcedFields, curField, 'up')"><i class="fa fa-caret-up fa-fw" aria-hidden="true"></i></button>
								</div>
								<div class="btn-group btn-group-xs pull-right" role="group">
									<button class="btn btn-danger" type="button" (click)="streamSourcedFieldRemove(i)"><i class="fa fa-trash fa-fw"></i></button>
								</div>
							</td>

						</tr>
					</table>
				</div>
				<div *ngIf="assignedFields">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Should Ignore?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Is Described?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Is Filter?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Is Cross Tab?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Is Month?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Is Data?</th>
							<th *ngIf="curStreamEnvironmentType == 'PBCS' || curStreamEnvironmentType == 'HP'">Should Ignore for Crosstab?</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Aggregate Function</th>
							<th *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">Assign Properties</th>
							<th>Actions</th>
						</tr>
						<tr *ngFor="let curField of assignedFields;let i = index;let last=last;let first=first">
							<td>
								{{curField.name}}<br>
							</td>
							<td>{{curField.type}}</td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.shouldIgnore"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.isDescribed" ngTrueValue="1" ng-false-value="0"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.isFilter" ng-true-value="1" ng-false-value="0"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.isCrossTab" ng-true-value="1" ng-false-value="0"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.isMonth" ng-true-value="1" ng-false-value="0"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'"><input type="checkbox" [(ngModel)]="curField.isData" ng-true-value="1" ng-false-value="0"></td>
							<td *ngIf="curStreamEnvironmentType == 'PBCS' || curStreamEnvironmentType == 'HP'"><input type="checkbox" [(ngModel)]="curField.isCrossTab" ng-true-value="1" ng-false-value="0"></td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">
								<select *ngIf="curField.isData == 1" [(ngModel)]="curField.aggregateFunction">
									<option value="">NONE</option>
									<option value="SUM">SUM</option>
									<option value="AVG">AVG</option>
									<option value="COUNT">COUNT</option>
									<option value="MAX">MAX</option>
									<option value="MIN">MIN</option>
								</select>
							</td>
							<td *ngIf="mainService.curItemEnvironmentType != 'PBCS' && mainService.curItemEnvironmentType != 'HP'">
								<div class="input-group" *ngIf="curField.type=='number' && !curField.shouldIgnore">
									<span class="input-group-addon"><b># of Digits:</b></span>
									<input type="number" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="curField.fPrecision" min="1" max="65">
									<span class="input-group-addon">(Min: 1, Max: 65)</span>
									<input type="number" class="form-control" placeholder="Decimal Number Digits" [(ngModel)]="curField.fDecimals" min="0" max="{{curField.fPrecision -1 || 0}}">
									<span class="input-group-addon">(Min: 0, Max: {{curField.fPrecision -1 || 0}})</span>
								</div>
								<div class="input-group" *ngIf="curField.type=='string' && !curField.shouldIgnore">
									<span class="input-group-addon"><b># of Chars:</b></span>
									<input type="number" class="form-control" min="1" max="1024" [(ngModel)]="curField.fCharacters">
									<span class="input-group-addon">(Max: 1024)</span>
								</div>
								<div class="input-group" *ngIf="curField.type=='date' && !curField.shouldIgnore">
									<span class="input-group-addon"><b>Format:</b></span>
									<input type="text" class="form-control" [(ngModel)]="curField.fDateFormat" placeholder="YYYY-MM-DD HH:mm">
									<span class="input-group-addon">(Y: Year, M: Month, D: Day, H: Hour, m: Minute)</span>
								</div>
							</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<button *ngIf="!last" type="button" class="btn btn-xs btn-default" title="Move Down" (click)="streamFieldMove(assignedFields, curField, 'down')"><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="last || first" type="button" class="btn btn-xs btn-default" title="Nothing to do!"><i class="fa fa-fw" aria-hidden="true"></i></button>
									<button *ngIf="!first" type="button" class="btn btn-xs btn-default" title="Move Up" (click)="streamFieldMove(assignedFields, curField, 'up')"><i class="fa fa-caret-up fa-fw" aria-hidden="true"></i></button>
								</div>
							</td>

						</tr>
					</table>
				</div>-->
			</div>
			<!--<div class="tab-pane fade" id="streamtabfielddescriptiontables">
				<div class="box box-primary">
					<div class="box-header">
						<ul class="nav nav-tabs">
							<li *ngFor="let curField of (assignedFields | describedFieldFilter);let i = index;let last=last;let first=first;" [class.active]="first">
								<a href="#FieldDescriptionDefinition{{curField.id}}" data-toggle="tab">
									{{curField.name}}
								</a>
							</li>
						</ul>
					</div>
					<div class="box-body">
						<div class="tab-content">
							<div class="tab-pane fade" *ngFor="let field of (assignedFields | describedFieldFilter);let i = index;let last=last;let first=first;" id="FieldDescriptionDefinition{{field.id}}" [class.in]="first" [class.active]="first">
								<form (ngSubmit)="streamFieldsSaveChanges(fieldf)" #fieldf="ngForm" class="form-horizontal">
									<fieldset>
										<div class="form-group">
											<label for="fieldID" class="col-xs-2 control-label">ID:</label>
											<div class="col-xs-10">
												<input type="text" class="form-control" id="fieldID" name="fieldID" [(ngModel)]="field.id" disabled>
											</div>
										</div>
										<div class="form-group">
											<label for="fieldName" class="col-xs-2 control-label">Name:</label>
											<div class="col-xs-10">
												<input type="text" class="form-control" id="fieldName" name="fieldName" [(ngModel)]="field.name" disabled>
											</div>
										</div>
										<div class="form-group">
											<label for="fieldDescriptiveDB" class="col-xs-2 control-label">DB Name:</label>
											<div class="col-xs-10">
												<div class="input-group">
													<select name="fieldDescriptiveDB" id="fieldDescriptiveDB" class="form-control" [(ngModel)]="field.descriptiveDB">
														<option *ngFor="let selectableDB of databaseList" [value]="selectableDB.name">{{selectableDB.name}}</option>
													</select>
													<span class="input-group-btn">
														<button class="btn btn-default" type="button" [disabled]="curStream.environment < 1 || !curStreamClean" (click)="streamRefreshDatabases()">Refresh</button>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="fieldDescriptiveTable" class="col-xs-2 control-label">Table Name:</label>
											<div class="col-xs-10">
												<div class="input-group">
													<select name="fieldDescriptiveTable" id="fieldDescriptiveTable" class="form-control" [(ngModel)]="field.descriptiveTable">
														<option *ngFor="let selectableTable of descriptiveTables[field.descriptiveDB]" [value]="selectableTable.name">{{selectableTable.name}} ({{selectableTable.type}})</option>
													</select>
													<span class="input-group-btn">
														<button class="btn btn-default" type="button" [disabled]="!field.descriptiveDB" (click)="streamFieldRefreshTables(field)">Refresh</button>
													</span>
												</div>
												<span class="help-block" *ngIf="!field.descriptiveDB">
													<div class="well well-warning well-sm">
															Please assign a database to be able to change the tablename.
													</div>
												</span>
											</div>
										</div>
										<div class="form-group" *ngIf="curStreamEnvironmentType == 'MSSQL'">
											<label for="fieldDescriptiveQuery" class="col-xs-2 control-label">Custom Query:</label>
											<div class="col-xs-10">
												<textarea name="fieldDescriptiveQuery" id="fieldDescriptiveQuery" rows="10" class="form-control" [(ngModel)]="field.descriptiveQuery" *ngIf="field.descriptiveTable == 'Custom Query'"></textarea>
												<input type="text" class="form-control" id="fieldDescriptiveQuery" name="fieldDescriptiveQuery" [(ngModel)]="field.descriptiveQuery" disabled *ngIf="field.descriptiveTable != 'Custom Query'">
											</div>
										</div>
										<div class="form-group">
											<label for="fieldDescriptiveFieldsRefresh" class="col-xs-2 control-label">Field List</label>
											<div class="col-xs-10">
												<div class="input-group">
													<span class="input-group-btn">
														<button class="btn btn-default" type="button" (click)="streamFieldGetFields(field)" [disabled]="!field.descriptiveDB || !field.descriptiveTable">Refresh</button>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="fieldDescriptiveReferenceField" class="col-xs-2 control-label">Reference Field:</label>
											<div class="col-xs-10" *ngIf="descriptiveFields[field.descriptiveDB]">
												<div class="input-group">
													<select name="fieldDescriptiveReferenceField" id="fieldDescriptiveReferenceField" class="form-control" [(ngModel)]="field.drfName" (change)="setdrfType(field, $event)">
														<option *ngFor="let selectableField of descriptiveFields[field.descriptiveDB][field.descriptiveTable]" [value]="selectableField.name">{{selectableField.name}} ({{selectableField.type}})</option>
													</select>
													<span *ngIf="field.drfType=='string'" class="input-group-addon"><b># of Chars:</b></span>
													<input *ngIf="field.drfType=='string'" name="fielddrfCharacters" type="number" class="form-control" min="1" max="1024" [(ngModel)]="field.drfCharacters">
													<span *ngIf="field.drfType=='string'" class="input-group-addon">(Max: 1024)</span>
													<span *ngIf="field.drfType=='number'" class="input-group-addon"><b># of Digits:</b></span>
													<input *ngIf="field.drfType=='number'" name="fielddrfPrecision" type="number" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="field.drfPrecision" min="1" max="65">
													<span *ngIf="field.drfType=='number'" class="input-group-addon">(Min: 1, Max: 65)</span>
													<input *ngIf="field.drfType=='number'" name="fielddrfDecimals" type="number" class="form-control" placeholder="Decimal Number Digits" [(ngModel)]="field.drfDecimals" min="0" max="{{field.drfPrecision -1 || 0}}">
													<span *ngIf="field.drfType=='number'" class="input-group-addon">(Min: 0, Max: {{field.drfPrecision -1 || 0}})</span>
													<span *ngIf="field.drfType=='date'" class="input-group-addon"><b>Format:</b></span>
													<input *ngIf="field.drfType=='date'" name="fielddrfDateFormat" type="text" class="form-control" [(ngModel)]="field.drfDateFormat" placeholder="YYYY-MM-DD HH:mm">
													<span *ngIf="field.drfType=='date'" class="input-group-addon">(Y: Year, M: Month, D: Day, H: Hour, m: Minute)</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="fieldDescriptiveDescriptionField" class="col-xs-2 control-label">Description Field:</label>
											<div class="col-xs-10" *ngIf="descriptiveFields[field.descriptiveDB]">
												<div class="input-group">
													<select name="fieldDescriptiveDescriptionField" id="fieldDescriptiveDescriptionField" class="form-control" [(ngModel)]="field.ddfName" (change)="setddfType(field, $event)">
														<option *ngFor="let selectableField of descriptiveFields[field.descriptiveDB][field.descriptiveTable]" [value]="selectableField.name">{{selectableField.name}} ({{selectableField.type}})</option>
													</select>
													<span *ngIf="field.ddfType=='string'" class="input-group-addon"><b># of Chars:</b></span>
													<input *ngIf="field.ddfType=='string'" name="fieldddfCharacters" type="number" class="form-control" min="1" max="1024" [(ngModel)]="field.ddfCharacters">
													<span *ngIf="field.ddfType=='string'" class="input-group-addon">(Max: 1024)</span>
													<span *ngIf="field.ddfType=='number'" class="input-group-addon"><b># of Digits:</b></span>
													<input *ngIf="field.ddfType=='number'" name="fieldddfPrecision" type="number" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="field.ddfPrecision" min="1" max="65">
													<span *ngIf="field.ddfType=='number'" class="input-group-addon">(Min: 1, Max: 65)</span>
													<input *ngIf="field.ddfType=='number'" name="fieldddfDecimals" type="number" class="form-control" placeholder="Decimal Number Digits" [(ngModel)]="field.ddfDecimals" min="0" max="{{field.ddfPrecision -1 || 0}}">
													<span *ngIf="field.ddfType=='number'" class="input-group-addon">(Min: 0, Max: {{field.ddfPrecision -1 || 0}})</span>
													<span *ngIf="field.ddfType=='date'" class="input-group-addon"><b>Format:</b></span>
													<input *ngIf="field.ddfType=='date'" name="fieldddfDateFormat" type="text" class="form-control" [(ngModel)]="field.ddfDateFormat" placeholder="YYYY-MM-DD HH:mm">
													<span *ngIf="field.ddfType=='date'" class="input-group-addon">(Y: Year, M: Month, D: Day, H: Hour, m: Minute)</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-10 col-xs-offset-2">
												<button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o fa-fw"></i> Save Changes</button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>
