<div class="container-fluid" style="background-color: #004050 !important; position: absolute; bottom:0; top:0; left:0; right:0">
	<div class="row" style="padding-top:100px">
		<div class="col-xs-4 col-xs-offset-4" style="background-color: white;padding: 40px 20px;">
			<span style="line-height: 24px; font-size:24px; font-weight: bold;">Login to EPM ToolBox</span>
			<hr style="border: 1px solid #004050; border-bottom:0;" />
			<form (ngSubmit)="signIn(f)" #f="ngForm">
				<div class="form-group">
					<label for="username" style="font-weight: normal">Email address:</label><br />
					<input type="email" id="username" name="username" class="form-control" ngModel autofocus>
				</div>
				<div class="form-group">
					<label for="password" style="font-weight: normal">Password:</label><br />
					<input type="password" id="password" name="password" class="form-control" ngModel>
				</div>
				<button class="btn btn-primary" type="submit" [disabled]="isSigningIn">Sign In</button>
				<button class="btn btn-danger" routerLink="/" [disabled]="isSigningIn">Cancel</button>
			</form>
		</div>
	</div>
</div>
