<form (ngSubmit)="mainService.update()" #f="ngForm" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="itemName" class="col-xs-6 col-md-1 control-label">Name:</label>
			<div class="col-xs-6 col-md-11">
				<input type="text" class="form-control" id="itemName" name="itemName" [(ngModel)]="mainService.currentItem.name">
			</div>
		</div>
		<div class="form-group">
			<label for="itemStream" class="col-xs-6 col-md-1 control-label">Bound Stream:</label>
			<div class="col-xs-6 col-md-11">
				<select name="itemStream" id="itemStream" class="form-control" [(ngModel)]="mainService.currentItem.stream">
					<option *ngFor="let stream of streamService.itemList" [value]="stream.id">{{stream.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-1 control-label">Tags:</label>
			<div class="col-xs-11">
				<div class="col-xs-{{tagService.decideColWidth(tagService.groupList.length)}}" *ngFor="let tagGroup of tagService.groupList">
					{{tagGroup.name}}
					<hr />
					<ng-container *ngFor="let tagItem of tagService.itemList">
						<div class="checkbox" *ngIf="tagItem.taggroup == tagGroup.id">
							<label>
								<input type="checkbox" name="tagName{{tagItem.id}}" [(ngModel)]="mainService.currentItem?.tags[tagItem.id]"> {{tagItem.name}}
							</label>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-11 col-xs-offset-1">
				<button class="btn btn-primary btn-xs" type="submit">
					<i class="fa fa-floppy-o fa-fw"></i> Save Changes</button>
				<button class="btn btn-danger btn-xs" type="button" (click)="mainService.prepareMatrixTables()">Prepare Tables</button>
				<button class="btn btn-warning btn-xs" type="button" routerLink="/dime/matrices/matrix-list">
					<i class="fa fa-ban fa-fw"></i> Cancel</button>
				<button class="btn btn-danger btn-xs pull-right" type="button" (click)="mainService.delete(mainService.currentItem.id, mainService.currentItem.name)">
					<i class="fa fa-trash fa-fw"></i> Delete Matrix</button>
			</div>
		</div>
	</fieldset>
</form>
<span class="help-block" *ngIf="mainService.currentItem.isReady === atReadyStatus.Ready">
	<div class="well well-success well-sm">
		This matrix definition is ready for data entry.
	</div>
</span>
<span class="help-block" *ngIf="mainService.currentItem.isReady === atReadyStatus.Checking">
	<div class="well well-warning well-sm">
		Please wait, system is checking if the matrix is ready...
	</div>
</span>
<span class="help-block" *ngIf="mainService.currentItem.isReady === atReadyStatus.NotReady">
	<div class="alert alert-danger" role="alert">
		This matrix definition is not ready for data entry.
		<br> Issue: {{mainService.currentItem.notReadyReason}}
	</div>
</span>
