<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="save()" class="form-horizontal">
			<div class="form-group">
				<label for="exportName" class="col-xs-1 control-label" style="text-align: left;">Export Name:</label>
				<div class="col-xs-11">
					<input type="text" class="form-control" id="exportName" name="exportName" [(ngModel)]="export.name">
				</div>
			</div>
			<div class="form-group">
				<label for="cellCount" class="col-xs-1 control-label" style="text-align: left;">Cell Count:</label>
				<div class="col-xs-11">
					<input type="text" class="form-control" id="cellCount" name="cellCount" [(ngModel)]="cellCount" disabled>
				</div>
			</div>
			<div class="form-group ">
				<div class="col-xs-10 col-xs-offset-2 ">
					<button class="btn btn-primary btn-xs" type="submit">
						<i class="fa fa-floppy-o fa-fw "></i> Save Changes
					</button>
					<button class="btn btn-success btn-xs" type="button" [disabled]="isDirty" (click)="execute()">
						<i class="fa fa-download"></i> Execute
						<span *ngIf="isDirty">Changes must be saved before execution</span>
					</button>
					<button class="btn btn-danger btn-xs pull-right " type="button" (click)="delete()">
						<i class="fa fa-trash fa-fw "></i> Delete Stream
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<table class="table table-condensed">
	<tr>
		<td colspan="2">
			<table class="table table-condensed" *ngIf="export?.povDims?.length > 0">
				<thead>
					<tr>
						<th width="30">POVs</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>&nbsp;</td>
						<td>
							<ng-container *ngFor="let dimension of getDims(export.povDims); let i = index; ">
								<div class="btn-toolbar" role="toolbar" style="padding-bottom: 2px;">
									<div class="btn-group btn-group-xs">
										<button class="btn btn-default" type="button" title="Move to rows" (click)="addToRows(dimension.id, export.povs[i].selectedMember, export.povs[i].selectionType)">
											<i class="fa fa-fw fa-bars"></i>
										</button>
										<button class="btn btn-default" type="button" title="Move to columns" (click)="addToCols(dimension.id, export.povs[i].selectedMember, export.povs[i].selectionType)">
											<i class="fa fa-fw fa-columns"></i>
										</button>
									</div>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-default" type="button" style="width:100px; max-width: 100px; text-align: left;">{{dimension?.name}}</button>
									</div>
									<div class="btn-group btn-group-xs" *ngIf="dimension?.status != 'Ready'">
										<button class="btn btn-default btn-xs" disabled>
											<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
											Please wait, refreshing member list
										</button>
									</div>
									<div class="btn-group btn-group-xs" *ngIf="dimension?.status == 'Ready'">
										<div class="btn-group btn-group-xs" role="group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 180px; max-width: 180px; text-align: left;" disabled>
												<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
												{{displaySelectionType(export.povs[i].selectionType)}}
												<span class="pull-right">
													<span class="caret"></span>
												</span>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a (click)="export.povs[i].selectionType = 'member'; recalculateCellCounts();">Member</a>
												</li>
												<li>
													<a (click)="export.povs[i].selectionType = 'level0'; recalculateCellCounts();">Level 0 Descendants</a>
												</li>
												<li>
													<a (click)="export.povs[i].selectionType = 'descendants'; recalculateCellCounts();">Descendants</a>
												</li>
												<li>
													<a (click)="export.povs[i].selectionType = 'idescendants'; recalculateCellCounts();">IDescendants</a>
												</li>
												<li>
													<a (click)="export.povs[i].selectionType = 'children'; recalculateCellCounts();">Children</a>
												</li>
												<li>
													<a (click)="export.povs[i].selectionType = 'ichildren'; recalculateCellCounts();">IChildren</a>
												</li>
											</ul>
										</div>
										<button class="btn btn-default" type="button" (click)="openMemberSelector('pov', dimension.id, i)">
											<i class="fa fa-codepen fa-fw" aria-hidden="true"></i>
											{{export.povs[i].selectedMember}}
											<span class="caret"></span>
										</button>
									</div>
								</div>
							</ng-container>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td width="50%">&nbsp;</td>
		<td width="50%">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th width="110">Columns</th>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-default" type="button" title="Add column" (click)="addCol()">
									<i class="fa fa-plus fa-fw"></i>
								</button>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let col of export.cols; let i = index;">
						<tr>
							<td>
								Column {{getColumnHeader(i)}}
								<button class="btn btn-xs pull-right" (click)="deleteCol(i)" *ngIf="export.cols.length > 1">
									<i class="fa fa-trash fa-fw"></i>
								</button>
							</td>
							<td>
								<ng-container *ngFor="let dimension of getDims(export.colDims); let dimindex = index;">
									<div class="btn-toolbar" role="toolbar" style="padding-bottom: 2px;">
										<div class="btn-group btn-group-xs">
											<button class="btn btn-default" type="button" title="Move to POVs" (click)="addToPOVs(dimension.id, col[dimindex].selectedMember, col[dimindex].selectionType)">
												<i class="fa fa-fw fa-filter"></i>
											</button>
											<button class="btn btn-default" type="button" title="Move to rows" (click)="addToRows(dimension.id, col[dimindex].selectedMember, col[dimindex].selectionType)">
												<i class="fa fa-fw fa-bars"></i>
											</button>
										</div>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-default" type="button" style="width:100px; max-width: 100px; text-align: left;">{{dimension?.name}}</button>
										</div>
										<div class="btn-group btn-group-xs" *ngIf="dimension?.status != 'Ready'">
											<button class="btn btn-default btn-xs" disabled>
												<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
												Please wait, refreshing member list
											</button>
										</div>
										<div class="btn-group btn-group-xs" *ngIf="dimension?.status == 'Ready'">
											<div class="btn-group btn-group-xs" role="group">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 180px; max-width: 180px; text-align: left;">
													<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
													{{displaySelectionType(col[dimindex].selectionType)}}
													<span class="pull-right">
														<span class="caret"></span>
													</span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a (click)="col[dimindex].selectionType = 'member'; recalculateCellCounts();">Member</a>
													</li>
													<li>
														<a (click)="col[dimindex].selectionType = 'level0'; recalculateCellCounts();">Level 0 Descendants</a>
													</li>
													<li>
														<a (click)="col[dimindex].selectionType = 'descendants'; recalculateCellCounts();">Descendants</a>
													</li>
													<li>
														<a (click)="col[dimindex].selectionType = 'idescendants'; recalculateCellCounts();">IDescendants</a>
													</li>
													<li>
														<a (click)="col[dimindex].selectionType = 'children'; recalculateCellCounts();">Children</a>
													</li>
													<li>
														<a (click)="col[dimindex].selectionType = 'ichildren'; recalculateCellCounts();">IChildren</a>
													</li>
												</ul>
											</div>
											<button class="btn btn-default" type="button" (click)="openMemberSelector('col', dimension.id, dimindex, i)">
												<i class="fa fa-codepen fa-fw" aria-hidden="true"></i>
												{{col[dimindex].selectedMember}}
												<span class="caret"></span>
											</button>
										</div>
									</div>
								</ng-container>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th width="110">Rows</th>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-default" type="button" title="Add row" (click)="addRow()">
									<i class="fa fa-plus fa-fw"></i>
								</button>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let row of export.rows; let i = index;">
						<tr>
							<td>
								Row {{i + 1}}
								<button class="btn btn-xs pull-right" (click)="deleteRow(i)" *ngIf="export.rows.length > 1">
									<i class="fa fa-trash fa-fw"></i>
								</button>
							</td>
							<td>
								<ng-container *ngFor="let dimension of getDims(export.rowDims); let dimindex = index;">
									<div class="btn-toolbar" role="toolbar" style="padding-bottom: 2px;">
										<div class="btn-group btn-group-xs">
											<button class="btn btn-default" type="button" title="Move to POVs" (click)="addToPOVs(dimension.id, row[dimindex].selectedMember, row[dimindex].selectionType)">
												<i class="fa fa-fw fa-filter"></i>
											</button>
											<button class="btn btn-default" type="button" title="Move to columns" (click)="addToCols(dimension.id, row[dimindex].selectedMember, row[dimindex].selectionType)">
												<i class="fa fa-fw fa-columns"></i>
											</button>
										</div>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-default" type="button" style="width:100px; max-width: 100px; text-align: left;">{{dimension?.name}} </button>
										</div>
										<div class="btn-group btn-group-xs" *ngIf="dimension?.status != 'Ready'">
											<button class="btn btn-default btn-xs" disabled>
												<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
												Please wait, refreshing member list
											</button>
										</div>
										<div class="btn-group btn-group-xs" *ngIf="dimension?.status == 'Ready'">
											<div class="btn-group btn-group-xs" role="group">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 180px; max-width: 180px; text-align: left;">
													<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
													{{displaySelectionType(row[dimindex].selectionType)}}
													<span class="pull-right">
														<span class="caret"></span>
													</span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a (click)="row[dimindex].selectionType = 'member'; recalculateCellCounts();">Member</a>
													</li>
													<li>
														<a (click)="row[dimindex].selectionType = 'level0'; recalculateCellCounts();">Level 0 Descendants</a>
													</li>
													<li>
														<a (click)="row[dimindex].selectionType = 'descendants'; recalculateCellCounts();">Descendants</a>
													</li>
													<li>
														<a (click)="row[dimindex].selectionType = 'idescendants'; recalculateCellCounts();">IDescendants</a>
													</li>
													<li>
														<a (click)="row[dimindex].selectionType = 'children'; recalculateCellCounts();">Children</a>
													</li>
													<li>
														<a (click)="row[dimindex].selectionType = 'ichildren'; recalculateCellCounts();">IChildren</a>
													</li>
												</ul>
											</div>
											<button class="btn btn-default" type="button" (click)="openMemberSelector('row', dimension.id, dimindex, i)">
												<i class="fa fa-codepen fa-fw" aria-hidden="true"></i>
												{{row[dimindex].selectedMember}}
												<span class="caret"></span>
											</button>
										</div>
									</div>
								</ng-container>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</td>
		<td width="50%">&nbsp;</td>
	</tr>
</table>
<div class="row">
	<div class="col-xs-12">
		<pre>{{export | json}}</pre>
	</div>
</div>
